<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profesional/home/home-tabs/finalizados" text=""
        icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <ion-title class="title-toolbar">CALIFICA AL CLIENTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- profesional card item -->
  <div class="no-border">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- profile img -->
        <ion-col size="4" offset="1">
          <ion-avatar class="profileImg">
            <img src="{{ !loadedInfo.img_profile || loadedInfo.img_client_profile === '/' ? 'assets/images/avatar.png' : loadedInfo.img_profile  }}" />
          </ion-avatar>
        </ion-col>

        <!-- title -->
        <ion-col size="6">
          <ion-text>
            <small class="ticket">Ticket #{{ loadedInfo.ticket_number }}</small><br>
            <span class="titleSelect main-color">{{ loadedInfo.categoryName }} para <br> {{ loadedInfo.clientName }} {{
              loadedInfo.clientLastName }}</span><br>
            <p class="main-color mini-text" style="margin-top: 0; margin-bottom: 0;">{{ loadedInfo.date_required }}</p>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <ion-grid fixed>
    <!-- title -->
    <ion-row class="ion-margin-top">
      <ion-col size="10" offset="1" class="ion-text-center">
        <ion-text class="main-color title"><b>Proporciona una calificación</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <form [formGroup]="formRate" (ngSubmit)="sendRate()">
      <!-- rating  -->
      <ion-row class="ion-margin-top">
        <ion-col size="12" class="ion-text-center">
          <ion-icon (click)="changeStars(1)" name="{{ rate > 0 ? 'star' : 'star-outline' }}" color="primary"
            class="rating-icon"></ion-icon>
          <ion-icon (click)="changeStars(2)" name="{{ rate > 1 ? 'star' : 'star-outline' }}" color="primary"
            class="rating-icon"></ion-icon>
          <ion-icon (click)="changeStars(3)" name="{{ rate > 2 ? 'star' : 'star-outline' }}" color="primary"
            class="rating-icon"></ion-icon>
          <ion-icon (click)="changeStars(4)" name="{{ rate > 3 ? 'star' : 'star-outline' }}" color="primary"
            class="rating-icon"></ion-icon>
          <ion-icon (click)="changeStars(5)" name="{{ rate > 4 ? 'star' : 'star-outline' }}" color="primary"
            class="rating-icon"></ion-icon>
        </ion-col>
      </ion-row>

      <!-- title -->
      <ion-row *ngIf="rate <= 3" class="ion-margin-top">
        <ion-col size="10" offset="1" class="ion-text-center">
          <ion-text class="main-color title"><b>¡Lamentamos que no te encuentres satisfecho!</b></ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <!-- text-area -->
      <ion-row *ngIf="rate <= 3" class="ion-margin-top">
        <ion-col size="1"></ion-col>
        <ion-col size="10" class="border ion-text-center">
          <ion-item lines="none">
            <ion-textarea formControlName="comment_bad_services" rows="3" cols="20" placeholder="Agrega una descripción del porque no se encuentra satisfecho.">
            </ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <!-- title -->
      <ion-row class="ion-margin-top">
        <ion-col size="10" offset="1" class="ion-text-center">
          <ion-text class="main-color title"><b>Coméntanos el motivo de la calificación otorgada <span
                class="redText">*</span></b></ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <!-- text-area -->
      <ion-row class="ion-margin-top">
        <ion-col size="1"></ion-col>
        <ion-col size="10" class="border ion-text-center">
          <ion-item lines="none">
            <ion-textarea formControlName="comment" rows="3" cols="20" placeholder="Agrega una descripción.">
            </ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <!-- BTNs -->
      <ion-row class="ion-margin-top ion-margin-bottom">
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-button [disabled]="!(formRate.valid && isRated)" size="5" type="submit" expand="block" class="btn-text ion-text-uppercase">
            ENVIAR COMENTARIOS
          </ion-button>
        </ion-col>
      </ion-row>
    </form>

  </ion-grid>

</ion-content>