<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase main-color title-toolbar">Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="height: 5%"></div>
  <ion-grid>

    <!-- title -->
    <ion-row>
      <ion-col size="1" offset="1"></ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-text class="main-color ion-text-uppercase title">INGRESA TUS DATOS PERSONALES</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1" offset="1"></ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-text><hr></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- Register Inputs -->
    <form>
      <!-- nombre -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating" class="main-color">
              <ion-icon name="person" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Nombre</ion-text>
            </ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- email -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="mail" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Email</ion-text>
            </ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- password -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating" class="main-color">
              <ion-icon name="lock-closed" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Contraseña</ion-text>
            </ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- password -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating" class="main-color">
              <ion-icon name="lock-closed" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Repetir constraseña</ion-text>
            </ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>

    <!-- Registrar BTN -->
    <ion-row class="ion-margin-top">
      <ion-col class="ion-margin-top">
        <ion-button expand="block" class="ion-text-uppercase" (click)="onRegister()">Registrarme</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
