<ion-header>
  <ion-toolbar mode="ios" color="primary">

    <ion-buttons slot="start">
      <ion-button class="homeBtn" (click)="openMenu()">
        <ion-icon name="menu" class="homeBtn"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title-toolbar">ESTADO DE SOLICITUD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- filter bar -->
  <!-- <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col size="10" offset="1">
        <ion-searchbar
          placeholder="Buscar"
          (ionChange)="onSearchChange($event)"
          >
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-grid class="ion-margin-top" *ngIf="!loadedServices || loadedServices.length < 1">
    <ion-row class="subtitle ion-margin-top">
      <ion-col size="12" class="ion-text-center">
        <ion-text class="footer-text main-color"><b>Aún no tienes solicitudes<br />hechas</b></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- servicio iterable -->
  <div class="prof-cont ion-margin-top no-border" *ngFor="let service of loadedServices"
    (click)="solicitudDetails(service.request_id, service.status_id === 6)">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="9" sizeMd="10" class="ion-justify-content-center">
          <ion-text>
            <span *ngIf="service.type_request !== 'URGENT'" class="titleSelect main-color ion-text-capitalize">{{
              service.supplierName+"
              "+service.supplierLastName }} </span>
            <span *ngIf="service.type_request === 'URGENT'" class="titleSelect red-color ion-text-capitalize">
              Solicitud urgente </span><br>
            <!-- <ion-badge color="medium" class="badge-text">Soldador</ion-badge>&nbsp; -->
            <div *ngIf="service.type_request !== 'URGENT'">
              <ion-badge color="medium" class="badge-text">{{
                service.categoryName }}</ion-badge>
              <br>
            </div>
            <p class="textSelect">{{ service.description }}</p>
            <small class="main-color">{{ formatdate(service.created_date) }}</small>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="3" sizeMd="2" class="ion-text-center">
          <div class="ion-text-center">
            <small class="ticket">#{{ service.ticket_number }}</small>
          </div>
          <!-- itersate thru the btns-->

          <!-- enviada -->
          <ion-text *ngIf="service.status_id === 1">
            <!-- icons -->
            <div class="locate-cont">
              <ion-icon src="/assets/icon/ic_send.svg" color="light" class="rating-text"></ion-icon>
            </div><br>
            <small class="ratingText main-color ion-text-center">
              SOLICITUD ENVIADA
            </small>
          </ion-text>

          <!-- visita  -->
          <ion-text *ngIf="service.status_id === 2">
            <!-- icons -->
            <div class="locate-cont bg-main-color">
              <ion-icon src="/assets/icon/ic_calendar_circle.svg" color="light" class="rating-text"></ion-icon>
            </div><br>
            <small class="ratingText main-color ion-text-center">
              SOLICITUD VISITA
            </small>
          </ion-text>

          <!-- accepted  -->
          <ion-text *ngIf="service.status_id === 3">
            <!-- icons -->
            <div class="locate-cont">
              <ion-icon name="checkmark" color="light" class="rating-text"></ion-icon>
            </div><br>
            <small class="ratingText main-color ion-text-center">
              SERVICIO ACEPTADO
            </small>
          </ion-text>

          <!-- rechazada  -->
          <ion-text *ngIf="service.status_id === 7">
            <!-- icons -->
            <div class="locate-cont bg-red-color">
              <ion-icon name="close" color="light" class="rating-text"></ion-icon>
            </div><br>
            <small class="ratingText red-color ion-text-center">
              SOLICITUD RECHAZADA
            </small>
          </ion-text>

          <!-- en proceso  -->
          <ion-text *ngIf="service.status_id === 4">
            <!-- icons -->
            <div class="locate-cont bg-green-color">
              <ion-icon src="/assets/icon/ic_engine_green.svg" color="light" class="rating-text"></ion-icon>
            </div><br>
            <small class="ratingText green-color ion-text-center">
              SERVICIO ENPROCESO
            </small>
          </ion-text>

          <!-- realizado  -->
          <ion-text *ngIf="service.status_id === 5">
            <!-- icons -->
            <div class="locate-cont bg-grey-color">
              <ion-icon src="/assets/icon/ic_engine_disabled.svg" color="light" class="rating-text"></ion-icon>
            </div><br>
            <small class="ratingText grey-color ion-text-center">
              SERVICIO REALIZADO
            </small>
          </ion-text>

          <!-- finalizado  -->
          <ion-text *ngIf="service.status_id === 6">
            <!-- icons -->
            <div class="locate-cont bg-grey-color">
              <ion-icon src="/assets/icon/ic_engine_disabled.svg" color="light" class="rating-text"></ion-icon>
            </div><br>
            <small class="ratingText grey-color ion-text-center">
              PAGO FINALIZADO
            </small>
          </ion-text>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>