<ion-header>
  <ion-toolbar mode="ios" color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/solicitud-status" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <ion-title class="title-toolbar text-center">MÉTODO DE PAGO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>

    <!-- OMITIR POR EL MOMENTO BTN -->
    <ion-row class="ion-margin-bottom" *ngIf="loadedService && loadedService.type_request !== 'URGENT'">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button size="5" expand="block" fill="outline" (click)="goToReport()" *ngIf="loadedService && loadedService.request_cost.length > 0">
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          Ver informe de los servicios
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- title  -->
    <ion-row>
      <ion-col size="11" offset="1">
        <ion-text color="primary" class="title">
          <b>Detalle del pago</b>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- servicios pactados  -->
    <ion-row>
      <ion-col size="11" offset="1">
        <ion-text class="text">
          <b>Servicios pactados</b>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- costo  -->
    <ion-row>
      <ion-col size="11" offset="1">
        <ion-text color="primary" class="title">
          <b *ngIf="servicesCosts && servicesCosts.amount_client">${{getServiceCost()}}</b>
          <b *ngIf="servicesCosts && !servicesCosts.amount_client" class="small">Aún no se ha asignado un costo</b>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- servicios adicionales  -->
    <ion-row *ngIf="loadedService && loadedService.type_request !== 'URGENT'">
      <ion-col size="11" offset="1">
        <ion-text class="text">
          <b>Servicios adicionales</b>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- costo  -->
    <ion-row *ngIf="servicesCosts && servicesCosts.addittional.length > 0 && loadedService.type_request !== 'URGENT'">
      <ion-col size="11" offset="1">
        <ion-text color="primary" class="title">
          <b *ngIf="servicesCosts">${{getServiceAditional()}}</b>
          <b *ngIf="!servicesCosts" class="small">Aún no se ha asignado un costo</b>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- empty aditionals  -->
    <ion-row *ngIf="servicesCosts && servicesCosts.addittional.length === 0 && loadedService.type_request !== 'URGENT'">
      <ion-col size="11" offset="1">
        <ion-text color="primary" class="title">
          <b class="small">No se tienen adicionales</b>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- servicios adicionales  -->
    <ion-row>
      <ion-col size="11" offset="1">
        <ion-text class="text ion-text-uppercase">
          <b>TOTAL</b>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- costo  -->
    <ion-row>
      <ion-col size="11" offset="1">
        <ion-text color="danger" class="title">
          <b *ngIf="loadedService && loadedService.request_cost.length > 0">${{getTotal()}}</b>
          <b *ngIf="loadedService && loadedService.request_cost.length === 0" class="small">No se ha asignado un costo</b>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- Costo & pay BTNS-->
    <ion-row class="ion-margin-top">
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="main-color subtitle"><b>{{isFinished ? 'Método de pago aplicado' : '¿Cómo desea pagar?'}}</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="12" class="ion-text-center">
        <section>
          <!-- btn -->
          <ion-button size="small"
            [fill]="selectedButton === 'credit' ? 'solid' : 'outline'" *ngIf="isFinished && selectedButton === 'credit'">
            <ion-icon slot="start" src="assets/icon/visa.svg"></ion-icon>
            Tarjeta
          </ion-button>

          <!-- btn -->
          <!--
          <ion-button size="small" (click)="setSelectedButton('debit')"  [fill]="selectedButton === 'debit' ? 'solid' : 'outline'">
            <ion-icon slot="start" src="assets/icon/mastercard.svg"></ion-icon>
            Débito
          </ion-button>
          -->

          <!-- btn -->
          <ion-button size="small"
            [fill]="selectedButton === 'cash' ? 'solid' : 'outline'" *ngIf="isFinished && selectedButton === 'cash'">
            <ion-icon slot="start" src="/assets/icon/ic_dollar_blank.svg"></ion-icon>
            Efectivo
          </ion-button>

          <!-- btn -->
          <!--
          <ion-button size="small" (click)="setSelectedButton('transfer')"
            [fill]="selectedButton === 'transfer' ? 'solid' : 'outline'">
            <ion-icon slot="start" src="/assets/icon/ic_money_blank.svg"></ion-icon>
            Transferencia
          </ion-button>
          -->

        </section>
      </ion-col>

    </ion-row>

    <!-- CONFIRMAR BTN -->
    <ion-row class="ion-margin-top" *ngIf="!isFinished">
      <ion-col size="1"></ion-col>
      <ion-col> <!-- [disabled]="!servicesCosts" -->
        <ion-button  size="5" expand="block" class="ion-text-uppercase"
          (click)="paymentForm()">
          PAGAR
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>