<ion-header>
  <ion-toolbar mode="ios" color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/solicitudes" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <ion-title class="title-toolbar text-center">VISITA TÉCNICA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- profesional card item -->
  <div class="no-border ion-margin-top">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- profile img -->
        <ion-col size="4" offset="1">
          <ion-avatar class="profileImg">
            <img src="{{ loadedService.img_profile || '/assets/images/avatar.png'}}" />
          </ion-avatar>
        </ion-col>

        <!-- title -->
        <ion-col size="6">
          <ion-text>
            <span class="titleSelect main-color">{{loadedService.categoryName}} de {{loadedService.supplierName}}
              {{loadedService.supplierLastName}}</span><br>
            <p class="main-color mini-text" style="margin-top: 0; margin-bottom: 0;">
              {{formatDate(loadedService.created_date, 'DD/MM/YYYY', true)}}</p>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>

    <!-- title -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="main-color title"><b>Trabajo a realizar</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="titleText">
          {{loadedService.description}}
        </ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- Slider -->
    <ion-row class="" *ngIf="loadedService.img_request.length > 0">
      <ion-col size="12">
        <ion-slides [options]="slideOptions">
          <!-- slide -->
          <ion-slide *ngFor="let image of loadedService.img_request">
            <img (click)="openImage(image.image)" src="{{ image.image }}" class="imgSlide">
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>

    <!-- Fecha de visita -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="main-color subtitle"><b>Fecha de visita</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-icon src="/assets/icon/ic_date_range.svg" class="main-color iconFix"></ion-icon>
        <ion-text class="subText"> {{formatDate(loadedService.date_required)}}</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- Rango de horas -->
    <ion-row class="ion-margin-top">
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="main-color subtitle"><b>Rango de horas</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-icon src="/assets/icon/ic_schedule.svg" class="main-color iconFix"></ion-icon>
        <ion-text class="subText"> {{formatTime()}}</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- eceptar visita BTN -->
    <ion-row class="ion-margin-top" *ngIf="showButtons">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button size="5" expand="block" class="ion-text-uppercase" (click)="confirmVisit(1)">
          ACEPTAR VISITA
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- imitir por el momento BTN -->
    <ion-row class="ion-margin-bottom" *ngIf="showButtons">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button size="5" expand="block" fill="outline" class="ion-text-uppercase" (click)="confirmVisit(0)">
          OMITIR POR EL MOMENTO
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>