<ion-header>
  <ion-toolbar mode="ios" color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profesional/home" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <ion-title class="title-toolbar">NOTIFICACIONES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed *ngIf="notifications.length === 0">
    <ion-row class="ion-margin-top">
      <ion-col size="11" class="ion-text-left">
        <ion-text class="title main-color"><b>Aún no tienes notificationes</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>

  <!-- notificacion item -->
  <div class="prof-cont mt-25 no-border" *ngFor="let notification of notifications">
    <ion-grid>
      <ion-item-sliding no-lines>
        <ion-item class="ion-no-padding ion-item-notificaciones" no-lines
          (click)="goToRequestDetail(notification.request_service_id, notification.notification_Id)">
          <div class="marker" *ngIf="!notification.viewed">&nbsp;</div>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <!-- title -->
              <ion-col size="8" class="ion-justify-content-center">
                <ion-text>
                  <!-- <span class="titleSelect main-color">Cerrajería </span><br> -->
                  <ion-badge *ngIf="notification.type_request === 'NORMAL'" color="primary" class="titleSelect">{{notification.category}}</ion-badge>
                  <ion-badge *ngIf="notification.type_request !== 'NORMAL'" color="danger" class="titleSelect">{{notification.category}}</ion-badge>&nbsp;
                  <ion-icon color="primary" src="/assets/icon/ic_date_range.svg" class="icon-size"
                    *ngIf="notification.type_request === 'NORMAL' && notification.status_id == 1"></ion-icon>
                  <ion-icon color="primary" src="/assets/icon/ic_engine_disabled.svg" class="icon-size"
                    *ngIf="notification.type_request === 'NORMAL' && notification.status_id > 1"></ion-icon>
                  <ion-icon color="danger" name="alert-circle" class="icon-size"
                    *ngIf="notification.type_request !== 'NORMAL'"></ion-icon>
                  <p class="textSelect {{notification.type_request !== 'NORMAL' ? 'red-color' : ''}}">
                    {{ validationName(notification.customerName, notification.professionalName,
                    notification.status_name)
                    }} {{ notification.type_request === 'NORMAL' ? notification.motive : ' ha generado una solicitud urgente, por favor atiéndela, si no puedes, no olvides rechazar.' }}
                  </p>
                  <!--<small class="main-color">Cambio de chapas</small>-->
                </ion-text>
              </ion-col>

              <!-- rating -->
              <ion-col size="4" class="text-center">
                <div class="ion-text-end">
                  <small class="ticket">#{{notification.ticket_number}}</small>
                </div>
                <ion-text>
                  <p class="ratingText main-color">
                    {{formatdate(notification.date, notification.hours)}}
                  </p>
                </ion-text>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="end" no-lines>
          <ion-item-option color="danger" (click)="deleteNotification(notification.notification_Id)">Eliminar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-grid>
  </div>

  <!-- notificacion item -->
  <!--
  <div class="prof-cont mt-25 no-border">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <ion-col size="7" class="ion-justify-content-center">
          <ion-text>
            <ion-badge color="primary" class="titleSelect">Soldadura</ion-badge>&nbsp;
            <ion-icon color="medium" src="/assets/icon/ic_engine_disabled.svg" class="icon-size"></ion-icon><br>
            <span class="textSelect">
              La fecha límite de un servicio está por llegar.
            </span><br>
            <small class="main-color">Rejas</small>
          </ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>

        <ion-col size="4" class="ion-text-center">
          <div class="ion-text-end">
            <small class="ticket">#100091234</small>
          </div>
          <ion-text>
            <small class="ratingText main-color ion-text-center">
              16 dic 2020
            </small>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  -->

  <!-- notificacion item -->
  <!--
  <div class="prof-cont mt-25 no-border">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <ion-col size="7" class="ion-justify-content-center">
          <ion-text>
            <ion-badge color="danger" class="titleSelect">Cerrajería</ion-badge>&nbsp;
            <ion-icon color="danger" name="alert-circle" class="icon-size"></ion-icon><br>
            <span class="textSelect">
              Santiago Pérez está en busca de un servicio urgente.
            </span><br>
            <small class="red-color">Cambio de chapas</small>
          </ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>

        <ion-col size="4" class="ion-text-center">
          <div class="ion-text-end">
            <small class="ticket">#100091234</small>
          </div>
          <ion-text>
            <small class="ratingText main-color ion-text-center">
              16 dic 2020
            </small>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  -->

</ion-content>