<ion-header>
  <ion-toolbar mode="ios" color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profesional/home" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <ion-title class="title-toolbar">NOTIFICACIONES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="text-center" *ngIf="notifications.length === 0">
    <p>No se tienen notificaciones</p>
  </div>

  <!-- notificacion item -->
  <div class="prof-cont mt-25 no-border" *ngFor="let notification of notifications" >
    <ion-grid (click)="goToRequestDetail(notification.request_service_id, notification.notification_Id)">
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="7" class="ion-justify-content-center">
          <ion-text>
            <!-- <span class="titleSelect main-color">Cerrajería </span><br> -->
            <ion-badge color="primary" class="titleSelect">{{notification.category}}</ion-badge>&nbsp;
            <ion-icon color="primary" src="/assets/icon/ic_date_range.svg" class="icon-size" *ngIf="notification.type_request === 'NORMAL' && notification.status_id == 1"></ion-icon>
            <ion-icon color="primary" src="/assets/icon/ic_engine_disabled.svg" class="icon-size" *ngIf="notification.type_request === 'NORMAL' && notification.status_id > 1"></ion-icon>
            <ion-icon color="danger" name="alert-circle" class="icon-size" *ngIf="notification.type_request !== 'NORMAL'"></ion-icon>
            <p class="textSelect {{notification.type_request !== 'NORMAL' ? 'red-color' : ''}}">
              {{notification.professionalName}} {{notification.motive}}
            </p>
            <!--<small class="main-color">Cambio de chapas</small>-->
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="5" class="ion-text-center">
          <div class="ion-text-end">
            <small class="ticket">#{{notification.ticket_number}}</small>
          </div>
          <ion-text>
            <p class="ratingText main-color">
              {{formatdate(notification.date, notification.hours)}}
            </p>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>