<!-- <ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-button class="homeBtn" (click)="openMenu()">
        <ion-icon name="menu" class="homeBtn"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title-toolbar">MIS TRABAJOS</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content>

  <ion-grid fixed> -->
    <!-- tabs -->
    <ion-tabs>
      <ion-tab-bar slot="bottom" class="paddings">
        <!-- Solicitudes  -->
        <ion-tab-button tab="solicitudes">
          <ion-button expand="block" fill="outline" shape="round" class="tapText">
            SOLICITUDES
          </ion-button>
        </ion-tab-button>

        <!-- Agendados  -->
        <ion-tab-button tab="agendados">
          <ion-button expand="block" fill="outline" shape="round" class="tapText">
            AGENDADOS
          </ion-button>
        </ion-tab-button>

        <!-- FINALIZADOS -->
        <ion-tab-button tab="finalizados">
          <ion-button expand="block" fill="outline" shape="round" class="tapText">
            FINALIZADOS
          </ion-button>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>

    <!-- title -->
    <!-- <ion-row class="superMarginTop">
      <ion-col size="11" class="ion-text-left">
        <ion-text class="main-color title"><b>Buenos días Juan Alcayaga, tienes los siguientes trabajos en tu agenda.</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- proff contactado card item -->
  <!-- <div class="prof-cont no-border" (click)="solicitudes()">
    <ion-grid>
      <ion-row class="ion-align-items-center"> -->

        <!-- title -->
        <!-- <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color">Diego Zapata </span><br>
            <ion-badge color="medium" class="badge-text">Cerrajería</ion-badge>
            <ion-badge color="medium" class="badge-text">Gasfiter</ion-badge>
            <br>
            <small class="main-color">Contactado hace 3 días</small>
          </ion-text>
        </ion-col> -->

        <!-- rating -->
        <!-- <ion-col size="4">
          <ion-text>
            <p class="ratingText main-color ion-text-center">
              4.1
              <ion-icon name="star"></ion-icon>
            </p><br>

          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content> -->
