<ion-tabs>
  <ion-tab-bar slot="bottom" class="ion-padding">
    <ion-tab-button tab="solicitudes">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>SOLICITUDES</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="agendados">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>AGENDADOS</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="finalizados">
      <ion-icon name="checkmark-done-circle-outline"></ion-icon>
      <ion-label>FINALIZADOS</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>