// .prof-cont
// {
//     box-shadow: 1px 8px 12px 0px rgba(0, 0, 0, 0.20);
// }
// .titleSelect
// {
//     font-size: 16px;
//     font-weight: bold;
// }
// .badge-text
// {
//     font-size: 9px;
// }
// .rating-text
// {
//     font-size: 14px;
//     margin-left: auto;
//     margin-right: auto;
// }
// .title
// {
//     font-size: 17px;
// }
// .superMarginTop
// {
//     margin-top: 60px;
// }
.tapText
{
    font-size: 10px;
}
.paddings
{
    padding-top: 10px;
    padding-bottom: 10px;
}