.no-border{
    padding-top: 2px;
    padding-bottom: 2px;
}
.profileImg
{
    margin-left: 10px;
    height: 75px;
    width: 75px;
}
.titleSelect
{
    font-size: 14px;
    font-weight: bold;
}
.titleName
{
    font-size: 18px;
}
.tittle
{
    font-size: 18px;
}
.border
{
    border: 1px solid #009ACE;
}
.regText
{
    font-size: 14px;
}
.imgSingle
{
    height: 125px;
}
.locate-cont
{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #009ACE;
}
.rating-text
{
font-size: 26px;
margin-left: auto;
margin-right: auto;
}
.ticket
{
    color: red;
    font-size: 12px;
}
.textSelect
{
    font-size: 14px;
}
.minusMargin
{
    margin-top: -20px;
}
.subMiniTex
{
    font-size: 16px;
}
.addIcon
{
    font-size: 35px;
}

.request-null {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    background-color: #eb445a;
} 

.border-right
{
    border-right: 1px solid red;
}
.catText {
    color: #009ACE;
    font-weight: bold;
    font-size: 16px;
    margin-top: 8px;
    height: 2rem;
}

.select-categories {
    border: 1px solid #009ACE;
    border-radius: 32px;
    height: 2rem;
}

.ta-center {
    text-align: center;
}

.select-categories-component {
    --padding-top: 0;
    --padding-bottom: 0;
    margin-top: -16px;
    height: 2rem;
    width: 155px;
    background-color: white;
    color: #009ACE;
    border-color: white;
    margin-left: -4px;
}

.deleteBtn {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    color: white;
    width: 32px;
    padding: 0;
    margin: 0;
    --padding-start: 0;
    --padding-end: 0;
    ion-icon {
      position: absolute;
    }
  }

  
  .cusSelect {
    border: 0px;
    outline: 0px;
    font-size: 14px;
    height: 32px;
    background-color: white;
    width: 100%;
    border: solid 2px #009ace;
    border-radius: 10px;
    padding: 5px;
    -webkit-appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='#009ace' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
  }
  