<ion-header>
  <ion-toolbar color="danger">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profesional/home/home-tabs/agendados" text="" icon="arrow-back"></ion-back-button>
      <ion-button class="homeBtn" (click)="openMenu()">
        <ion-icon name="menu" class="homeBtn"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title-toolbar">FINALIZAR EL SERVICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- profesional card item -->
  <div class="no-border">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- profile img -->
        <ion-col size-md="3" sizeXs="1"></ion-col>
        <ion-col size-md="3" sizeXs="4">
          <div class="ion-margin-start profileImg" [ngStyle]="{'background-image': getUrl()}"></div>
        </ion-col>

        <!-- title -->
        <ion-col size-md="3" sizeXs="6">
          <ion-text>
            <small class="ticket">Ticket #{{ loadedInfo.ticket_number }}</small><br>
            <span class="titleSelect main-color ion-text-capitalize">{{ loadedInfo.categoryName }} para<br>
              <span class="ion-text-capitalize titleName">{{ loadedInfo.clientName+" "+loadedInfo.clientLastName }}</span>
            </span><br>
            <p class="textSelect main-color" style="margin-top: 0; margin-bottom: 0;">{{ d(loadedInfo.created_date) }}
            </p>
          </ion-text>
        </ion-col>
        <ion-col size-md="3" sizeXs="0"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid>

    <form [formGroup]="formFinalizar" (ngSubmit)="finalizarSolicitud()">

      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="4">
          <ion-text class="main-color title"><b>Categoriza el trabajo</b></ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-input class="main-color cusSelect" readonly value="{{ categorySelected }}" (click)="showPicker()" placeholder="Categoría"></ion-input>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <!-- title -->
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10" class="ion-text-center">
          <ion-text class="main-color title"><b>Fotografías del trabajo realizado</b></ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <!-- images -->
      <ion-row class="ion-align-items-center">
        <ion-col size="7" offset="1" *ngIf="loadedImagesDisplay.length > 0">
          <ion-slides [options]="slideOptions">

            <!-- slide -->
            <ion-slide class="slide" *ngFor="let image of loadedImagesDisplay; let i = index"
              [loadedImagesDisplay]='loadedImagesDisplay'>
              <div (click)="openImage(image)" class="ion-margin-start imgSlide" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
              <ion-button (click)="removeImage(i)" size="small" shape="round" color="danger" class="deleteBtn">
                <ion-icon name="close-circle-outline"></ion-icon>
              </ion-button>
            </ion-slide>

          </ion-slides>
        </ion-col>
        <ion-col class="{{loadedImagesDisplay.length > 0 ? '' : 'text-center'}}"
          [size]="loadedImagesDisplay.length > 0 ? '4' : '12'">
          <ion-button (click)="onLoadImg()" shape="round">
            <ion-icon name="add" slot="end" color="light" class="rating-text"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- hidden file input -->
      <div style="display: none;">
        <input type="file" #hiddenImgInput *ngIf="useInputPicker" (change)="onLoadImgFromInput($event)">
      </div>

      <!-- text -->
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10" class="ion-text-center">
          <ion-text class="main-color regText"><b>Informe del trabajo</b></ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <!-- text-area -->
      <ion-row class="ion-margin-top">
        <ion-col size="1"></ion-col>
        <ion-col size="10" class="border ion-text-center">
          <ion-item lines="none">
            <ion-textarea formControlName="work_report" rows="3" cols="20" placeholder="Describe el trabajo realizado.">
            </ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <!-- title -->
      <ion-row class="ion-margin-top">
        <ion-col size="1"></ion-col>
        <ion-col size="5" class="ion-text-center border-right">
          <ion-text class="main-color title"><b>Método de pago</b></ion-text>
          <br>
          <ion-input class="main-color cusSelect" readonly value="{{ paymentSelected }}" (click)="showPickerPyments()" placeholder="Tipos de pago"></ion-input>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <ion-text class="main-color title"><b>Costo</b></ion-text>
          <br>
          <ion-text class="subMiniTex ion-padding-top">{{ formatInfo(loadedInfo.request_cost) }}</ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-icon *ngIf="validateExtraChargeButtom()"
            color="danger" name="add-circle" class="addIcon" (click)="extraCharge()"></ion-icon>
          <div class="request-null"
            *ngIf="loadedInfo.request_cost !== null &&  loadedInfo.request_cost.addittional && loadedInfo.request_cost.addittional.length > 0">
            <ion-icon name="pencil-sharp" (click)="extraCharge()"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <!-- finalizar trabajo BTN -->
      <ion-row class="ion-margin-top ion-margin-bottom">
        <ion-col size="1"></ion-col>
        <ion-col>
          <ion-button [disabled]="!(formFinalizar.valid && categoryIDSelected !== null && paymentIDSelected !== null)" size="5" expand="block" class="ion-text-uppercase"
            color="danger" (click)="finalizarSolicitud()">
            <ion-icon slot="start" name="build"></ion-icon>
            FINALIZAR
          </ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>