<ion-header>
  <ion-toolbar mode="ios" color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/solicitudes" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <ion-title class="title-toolbar">SOLICITUD #{{ loadedService ? loadedService.ticket_number : '-' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- top section  -->
  <div class="ion-margin-top no-border">
    <ion-grid>
      <ion-row class="ion-align-items-top">

        <!-- title -->
        <ion-col size="7" sizeMd="10" class="ion-justify-content-center">
          <ion-text>
            <div *ngIf="loadedService.supplierName">
              <span class="titleSelect main-color ion-text-capitalize">{{
                loadedService.supplierName+"
                "+loadedService.supplierLastName }} </span><br>
            </div>
            <ion-badge color="primary" class="badge-text">{{ loadedService.categoryName }}</ion-badge>&nbsp;
            <!--
            <div *ngIf="loadedService.category_id">
              <ion-badge color="{{ loadedService.category_id === cat.id ? primary : medium }}" class="badge-text"
                *ngFor="let cat of loadedService.categories">{{ cat.categoryName }}
              </ion-badge><br>
            </div>
            -->
            <span class="textSelect ion-text-capitalize">
              {{ loadedService.cummunename }}
            </span><br>
            <small class="main-color">{{ wDate }}</small>
          </ion-text>
        </ion-col>

        <!-- Contato icons -->
        <ion-col size="5" sizeMd="2" class="ion-text-center test">
          <ion-text>
            <span class="titleSelect main-color">Contacto </span><br><br>
            <!-- icons -->
            <div class="locate-cont" (click)="call()">
              <ion-icon src="/assets/icon/ic_phone_circle.svg" color="light" class="rating-text"></ion-icon>
            </div>
            <div class="locate-cont" (click)="openWhatsapp()">
              <ion-icon src="/assets/icon/ic_whatsapp.svg" color="light" class="rating-text"></ion-icon>
            </div>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- timeline  -->
  <div class="no-border test">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="12" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color">Solicitud </span>
            <small class="ticket" *ngIf="loadedService">#{{ loadedService.ticket_number }}</small><br>
            <span class="textSelect" *ngIf="loadedService">{{ loadedService.description }}</span>
          </ion-text>
        </ion-col>

      </ion-row>

      <!-- title -->
      <ion-row class="ion-margin-top">
        <ion-col size="10" offset="1" class="ion-text-center">
          <ion-text class="main-color title"><b>¿EN QUÉ ESTADO SE ENCUENTRA MI SOLICITUD?</b></ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <!-- separating line -->
      <ion-row class="ion-no-margin">
        <ion-col size="12" class="ion-text-center ion-no-padding redLine">|</ion-col>
      </ion-row>

      <!-- solicitud enviada  -->
      <ion-row>
        <div class="status-cont" (click)="serviceDetal(1)">
          <ion-icon src="/assets/icon/ic_send.svg" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text">SOLICITUD<br />ENVIADA</ion-text>
        </ion-col>
      </ion-row>

      <!-- separating line -->
      <ion-row class="ion-no-margin">
        <ion-col size="12" class="ion-text-center ion-no-margin ion-no-padding redLine">|</ion-col>
      </ion-row>
      <ion-row class="ion-no-margin">
        <ion-col size="12" class="ion-text-center ion-no-margin ion-no-padding redLine">|</ion-col>
      </ion-row>

      <!-- Visita tecnica agendada  -->
      <!-- gray -->
      <ion-row
        *ngIf="loadedService.status_id < 2 && loadedService.status_id < 7 && loadedService.type_request !== 'URGENT'">
        <div class="status-cont-grey">
          <ion-icon name="checkmark" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text-grey">VISITA TÉCNICA AGENDADA</ion-text><br>
        </ion-col>
      </ion-row>
      <!-- active  -->
      <ion-row
        *ngIf="loadedService.status_id > 1 && loadedService.status_id < 7 && loadedService.type_request !== 'URGENT'">
        <div class="status-cont" (click)="serviceDetal(2)">
          <ion-icon name="checkmark" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text">VISITA TÉCNICA AGENDADA</ion-text><br>
        </ion-col>
      </ion-row>

      <!-- separating line -->
      <ion-row class="ion-no-margin" *ngIf="loadedService.status_id < 7 && loadedService.type_request !== 'URGENT'">
        <ion-col size="12" class="ion-text-center ion-no-margin ion-no-padding redLine">|</ion-col>
      </ion-row>
      <ion-row class="ion-no-margin" *ngIf="loadedService.status_id < 7 && loadedService.type_request !== 'URGENT'">
        <ion-col size="12" class="ion-text-center ion-no-margin ion-no-padding redLine">|</ion-col>
      </ion-row>

      <!-- Servicio agendado  -->
      <!-- gray  -->
      <ion-row *ngIf="loadedService.status_id < 3 && loadedService.status_id !== 7">
        <div class="status-cont-grey">
          <ion-icon src="/assets/icon/ic_calendar_circle_disabled.svg" color="light" class="status-text-icon">
          </ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text-grey">SERVICIO AGENDADO</ion-text><br>
          <!-- <ion-text class="main-color status-subtext-grey">Pendiente de confirmación</ion-text> -->
        </ion-col>
      </ion-row>
      <!-- active  -->
      <ion-row *ngIf="loadedService.status_id > 2 && loadedService.status_id !== 7">
        <div class="status-cont" (click)="serviceDetal(3)">
          <ion-icon src="/assets/icon/ic_calendar_circle.svg" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text">SERVICIO AGENDADO</ion-text><br>
        </ion-col>
      </ion-row>

      <!-- separating line -->
      <ion-row class="ion-no-margin" *ngIf="loadedService.status_id < 7">
        <ion-col size="12" class="ion-text-center ion-no-margin ion-no-padding redLine">|</ion-col>
      </ion-row>
      <ion-row class="ion-no-margin" *ngIf="loadedService.status_id < 7">
        <ion-col size="12" class="ion-text-center ion-no-margin ion-no-padding redLine">|</ion-col>
      </ion-row>

      <!-- SERVICIO ENPROCESO  -->
      <!-- grey  -->
      <ion-row *ngIf="loadedService.status_id < 4 && loadedService.status_id !== 7">
        <div class="status-cont-grey">
          <ion-icon src="/assets/icon/ic_engine_disabled.svg" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text-grey">SERVICIO EN<br />PROCESO</ion-text><br>
        </ion-col>
      </ion-row>
      <!-- active  -->
      <ion-row *ngIf="loadedService.status_id > 3 && loadedService.status_id !== 7">
        <div class="status-cont" (click)="serviceDetal(4)">
          <ion-icon src="/assets/icon/ic_engine_blue.svg" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text">SERVICIO EN<br />PROCESO</ion-text><br>
        </ion-col>
      </ion-row>

      <!-- separating line -->
      <ion-row class="ion-no-margin" *ngIf="loadedService.status_id < 7">
        <ion-col size="12" class="ion-text-center ion-no-margin ion-no-padding redLine">|</ion-col>
      </ion-row>
      <ion-row class="ion-no-margin" *ngIf="loadedService.status_id < 7">
        <ion-col size="12" class="ion-text-center ion-no-margin ion-no-padding redLine">|</ion-col>
      </ion-row>

      <!-- SERVICIO REALIZADO  -->
      <!-- grey  -->
      <ion-row *ngIf="loadedService.status_id < 5 && loadedService.status_id !== 7">
        <div class="status-cont-grey">
          <ion-icon src="/assets/icon/ic_engine_disabled.svg" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text-grey">SERVICIO<br />FINALIZADO</ion-text><br>
        </ion-col>
      </ion-row>
      <!-- active  -->
      <ion-row *ngIf="loadedService.status_id > 4 && loadedService.status_id !== 7">
        <div class="status-cont" (click)="serviceDetal(5)">
          <ion-icon src="/assets/icon/ic_engine_blue.svg" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text">SERVICIO FINALIZADO</ion-text><br>
        </ion-col>
      </ion-row>

      <!-- separating line -->
      <ion-row class="ion-no-margin" *ngIf="loadedService.status_id < 7">
        <ion-col size="12" class="ion-text-center ion-no-margin ion-no-padding redLine">|</ion-col>
      </ion-row>
      <ion-row class="ion-no-margin" *ngIf="loadedService.status_id < 7">
        <ion-col size="12" class="ion-text-center ion-no-margin ion-no-padding redLine">|</ion-col>
      </ion-row>

      <!-- Pago Finalizado  -->
      <!-- grey  -->
      <ion-row *ngIf="loadedService.status_id < 6 && loadedService.status_id !== 7">
        <div class="status-cont-grey">
          <ion-icon src="/assets/icon/ic_card_disabled.svg" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text-grey">PAGO FINALIZADO</ion-text><br>
          <ion-text class="main-color status-subtext-grey" *ngIf="showRateProfessional">Pendiente calificar el servicio
          </ion-text>
        </ion-col>
      </ion-row>
      <!-- active  -->
      <ion-row *ngIf="loadedService.status_id > 5 && loadedService.status_id !== 7">
        <div class="status-cont" (click)="serviceDetal(6)">
          <ion-icon src="/assets/icon/ic_card_blue.svg" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="main-color status-text">PAGO FINALIZADO</ion-text><br>
          <ion-text class="main-color status-subtext" *ngIf="showRateProfessional">Pendiente calificar el servicio
          </ion-text>
        </ion-col>
      </ion-row>

      <!-- ONLY FOR CANCELLED SERVICES -->

      <!-- Solicitud rechazada  -->
      <ion-row *ngIf="loadedService.status_id === 7" (click)="serviceDetal(7)">
        <div class="status-cont-red">
          <ion-icon name="close-outline" color="light" class="status-text-icon"></ion-icon>
        </div>
        <ion-col size="12" class="ion-text-center">
          <ion-text class="status-text-red">SOLICITUD RECHAZADA</ion-text><br>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

</ion-content>