<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profesional/home" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <ion-title class="title-toolbar">CALIFICACIONES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- cat selection -->
  <ion-grid fixed>
    <ion-row style="align-items: center;">
      <ion-col size="1"></ion-col>
      <ion-col size="4">
        <ion-icon style="margin-right: 4px;" src="/assets/icon/ic_filter.svg"></ion-icon>
        <ion-text class="main-color"><b>Categoría</b></ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-item class="select-categories">
          <ion-select [(ngModel)]="categorySelected" placeholder="Categorías" interface="popover" class="select-categories-component" (ngModelChange)="changeCategory()">
            <ion-select-option *ngFor="let cat of categories" [value]="cat.id"  class="main-color ion-text-center">{{
              cat.name }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>

  <!-- profesional card item -->
  <div class="no-border">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- profile img -->
        <ion-col size="4" offset="1">
          <ion-avatar class="profileImg">
            <img src="{{ comments.img_profile }}" />
          </ion-avatar>
        </ion-col>

        <!-- title -->
        <ion-col size="6">
          <ion-text>
            <span class="titleSelect main-color">{{ comments.categoryName }} para <br> {{ comments.supplierName }} {{ comments.supplierLastName }}</span><br>
            <p class="main-color mini-text" style="margin-top: 0; margin-bottom: 0;"></p>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- rating / reconocimientos -->
  <ion-grid fixed>
    <ion-row>
      <!-- rating  -->
      <ion-col size="5" offset="1" class="border-line ion-text-center">
        <ion-text color="primary" class="ratingText">
          {{ comments.stars_everage }} / {{ comments.worknumber }}
          <ion-icon color="primary" name="thumbs-up" class="iconFix"></ion-icon>
        </ion-text>
        <br>
        <ion-icon name="{{ comments.stars_everage > 0 ? 'star' : 'star-outline' }}" color="primary" class="starIcon ion-margin-top"></ion-icon>
        <ion-icon name="{{ comments.stars_everage > 1 ? 'star' : 'star-outline' }}" color="primary" class="starIcon"></ion-icon>
        <ion-icon name="{{ comments.stars_everage > 2 ? 'star' : 'star-outline' }}" color="primary" class="starIcon"></ion-icon>
        <ion-icon name="{{ comments.stars_everage > 3 ? 'star' : 'star-outline' }}" color="primary" class="starIcon"></ion-icon>
        <ion-icon name="{{ comments.stars_everage > 4 ? 'star' : 'star-outline' }}" color="primary" class="starIcon"></ion-icon>
      </ion-col>
      <!-- reconocimiento  -->
      <ion-col size="5" class="ion-text-center">
        <ion-text color="primary" class="ratingText">Reconocimientos</ion-text>
        <br>
        <!-- icons -->
        <div class="locate-cont ion-margin-top">
          <ion-icon name="hammer" color="light" class="rating-text"></ion-icon>
        </div>
        <div class="locate-cont">
          <ion-icon name="time" color="light" class="rating-text"></ion-icon>
        </div>
        <div class="locate-cont">
          <ion-icon name="heart" color="light" class="rating-text"></ion-icon>
        </div>
        <div class="locate-cont">
          <ion-icon name="trophy" color="light" class="rating-text"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- title -->
  <ion-row class="ion-margin-top">
    <ion-col size="1"></ion-col>
    <ion-col size="10" class="ion-text-center">
      <ion-text class="main-color title"><b>COMENTARIOS</b></ion-text>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <!-- notificacion item -->
  <div class="prof-cont ion-margin-top" *ngFor="let com of comments.comments">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <!-- <span class="titleSelect main-color">Juan Pérez</span><br> -->
            <span class="textSelect">
              {{ com.comment }}
            </span>
          </ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>

        <!-- rating -->
        <ion-col size="3" class="ion-text-center">
          <ion-text>
            <small class="dateText main-color ion-text-center">
              {{ com.register_date }}
            </small>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- notificacion item -->
  <!-- <div class="prof-cont ion-margin-top">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color">María Rodríguez</span><br>
            <span class="textSelect">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
            </span>
          </ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>

      
        <ion-col size="3" class="ion-text-center">
          <ion-text>
            <small class="dateText main-color ion-text-center">
              16 dic 2020
            </small>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div> -->

</ion-content>