<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/profesional-list" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-toolbar">CONOCE A TU PROFESIONAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Slider -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-slides>
          <!-- slide -->
          <ion-slide>
            <img src="/assets/images/unavailable-image.png" class="imgSlide"/>
          </ion-slide>

          <!-- slide -->
          <ion-slide>
            <img src="/assets/images/unavailable-image.png" class="imgSlide"/>
          </ion-slide>

          <!-- slide -->
          <ion-slide>
            <img src="/assets/images/unavailable-image.png" class="imgSlide"/>
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- profesional card item -->
  <div class="no-border" (click)="profDetails()">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- profile img -->
        <ion-col size="4">
          <ion-avatar class="profileImg">
            <img src="/assets/images/avatar.png"/>
          </ion-avatar>
        </ion-col>

        <!-- title -->
        <ion-col size="8">
          <ion-text>
            <span class="titleSelect main-color">Juan Alcayaga</span><br>
            <ion-badge color="primary" class="badge-text">Soldador</ion-badge>
            <ion-badge color="medium" class="badge-text">Gasfiter</ion-badge>
            <ion-badge color="medium" class="badge-text">Eléctrico</ion-badge><br>
            <p class="textSelect main-color" style="margin-top: 0; margin-bottom: 0;">Vehículo: camioneta</p>
            <p class="textSelect main-color" style="margin-top: 0; margin-bottom: 0;">8 am - 6 pm</p>
            <p class="textSelect main-color" style="margin-top: 0; margin-bottom: 0;">De lunes a viernes</p>
            <p class="textSelect main-color" style="margin-top: 0; margin-bottom: 0;">Santiago Qta. normal.</p>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>

    <!-- main text -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-text>
          <p class="regText">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- title -->
    <ion-row>
      <ion-col size="1" offset="1"></ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-text class="main-color title"><b>Evaluaciones generales</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- trabajos realizados -->
    <ion-row class="border-bot">
      <!-- Text -->
      <ion-col size="9">
        <ion-text>
          <p class="itemText">Cantidad de trabajos realizados</p>
        </ion-text>
      </ion-col>
      <!-- icon -->
      <ion-col size="3">
        <ion-text>
          <p class="ratingText main-color ion-text-center">
            50
            <ion-icon name="ribbon" class="iconEnd"></ion-icon>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- valoracion -->
    <ion-row class="border-bot">
      <!-- Text -->
      <ion-col size="9">
        <ion-text>
          <p class="itemText">Valoraciones en relación al trabajo</p>
        </ion-text>
      </ion-col>
      <!-- icon -->
      <ion-col size="3">
        <ion-text>
          <p class="ratingText main-color ion-text-center">
            4.83
            <ion-icon name="star" class="iconEnd"></ion-icon>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- capacidad tecnica -->
    <ion-row class="border-bot">
      <!-- Text -->
      <ion-col size="8">
        <ion-text>
          <p class="itemText">Capacidad Técnica</p>
        </ion-text>
      </ion-col>
      <!-- icon -->
      <ion-col size="4">
        <ion-text>
          <p class="ratingText main-color ion-text-center">
            de 50
            <ion-icon name="ribbon" class="iconEnd"></ion-icon>
            / 50
            <ion-icon name="hammer" class="iconEnd"></ion-icon>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- Puntualidad -->
    <ion-row class="border-bot">
      <!-- Text -->
      <ion-col size="8">
        <ion-text>
          <p class="itemText">Puntualidad</p>
        </ion-text>
      </ion-col>
      <!-- icon -->
      <ion-col size="4">
        <ion-text>
          <p class="ratingText main-color ion-text-center">
            de 50
            <ion-icon name="ribbon" class="iconEnd"></ion-icon>
            / 50
            <ion-icon name="time" class="iconEnd"></ion-icon>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- Cordialidad -->
    <ion-row class="border-bot">
      <!-- Text -->
      <ion-col size="8">
        <ion-text>
          <p class="itemText">Cordialidad</p>
        </ion-text>
      </ion-col>
      <!-- icon -->
      <ion-col size="4">
        <ion-text>
          <p class="ratingText main-color ion-text-center">
            de 50
            <ion-icon name="ribbon" class="iconEnd"></ion-icon>
            / 50
            <ion-icon name="happy" class="iconEnd"></ion-icon>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- Servicio y Satisfacción -->
    <ion-row class="border-bot">
      <!-- Text -->
      <ion-col size="8">
        <ion-text>
          <p class="itemText">Servicio y Satisfacción</p>
        </ion-text>
      </ion-col>
      <!-- icon -->
      <ion-col size="4">
        <ion-text>
          <p class="ratingText main-color ion-text-center">
            de 50
            <ion-icon name="ribbon" class="iconEnd"></ion-icon>
            / 50
            <ion-icon name="thumbs-up" class="iconEnd"></ion-icon>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- footer text -->
    <ion-row class="subtitle ion-margin-top">
      <ion-col size="8" offset="2" class="ion-text-center">
        <ion-text class="lastText main-color"><b>¿Quieres enviarle una solicitud de servicio a Juan Alcayaga?</b></ion-text>
      </ion-col>
    </ion-row>

    <!-- enviar solicitud BTN -->
    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button size="5" expand="block" class="ion-text-uppercase" (click)="sendRequest()">
          ENVIAR SOLICITUD
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
