<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/home" text="" icon="arrow-back"></ion-back-button>
      <ion-button class="homeBtn" (click)="openMenu()">
        <ion-icon name="menu" class="homeBtn"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title-toolbar">PROFS. CONTACTADOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- proff contactado card item -->
  <div class="prof-cont ion-margin-top no-border" (click)="solicitudes()">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color">Juan Alcayaga </span><br>
            <ion-badge color="medium" class="badge-text">Cerrajería</ion-badge>
            <ion-badge color="medium" class="badge-text">Gasfiter</ion-badge>
            <br>
            <span class="textSelect">
              Soldador - 5 años de experiencia Santiago, Qta. normal
            </span><br>
            <small class="main-color">Contactado hace 3 días</small>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="4">
          <ion-text>
            <p class="ratingText main-color ion-text-center">
              4.83
              <ion-icon name="star"></ion-icon>
            </p><br>
            <!-- icons -->
            <div class="locate-cont">
              <ion-icon name="hammer" color="light" class="rating-text"></ion-icon>
            </div>
            <div class="locate-cont">
              <ion-icon name="time" color="light" class="rating-text"></ion-icon>
            </div>
            <div class="locate-cont">
              <ion-icon name="heart" color="light" class="rating-text"></ion-icon>
            </div>
            <div class="locate-cont">
              <ion-icon name="trophy" color="light" class="rating-text"></ion-icon>
            </div>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- proff contactado card item -->
  <div class="prof-cont ion-margin-top no-border" (click)="solicitudes()">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color">Cecilia Riquelme </span><br>
            <ion-badge color="medium" class="badge-text">Cerrajería</ion-badge>
            <ion-badge color="medium" class="badge-text">Gasfiter</ion-badge>
            <br>
            <span class="textSelect">
              Soldador - 5 años de experiencia Santiago, Qta. normal
            </span><br>
            <small class="main-color">Contactado hace 3 días</small>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="4">
          <ion-text>
            <p class="ratingText main-color ion-text-center">
              4.63
              <ion-icon name="star"></ion-icon>
            </p><br>
            <!-- icons -->
            <div class="locate-cont">
              <ion-icon name="hammer" color="light" class="rating-text"></ion-icon>
            </div>
            <div class="locate-cont">
              <ion-icon name="time" color="light" class="rating-text"></ion-icon>
            </div>
            <div class="locate-cont">
              <ion-icon name="heart" color="light" class="rating-text"></ion-icon>
            </div>
            <div class="locate-cont">
              <ion-icon name="trophy" color="light" class="rating-text"></ion-icon>
            </div>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- proff contactado card item -->
  <div class="prof-cont ion-margin-top no-border" (click)="solicitudes()">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color">Carlos Cheuqueman </span><br>
            <ion-badge color="medium" class="badge-text">Cerrajería</ion-badge>
            <ion-badge color="medium" class="badge-text">Gasfiter</ion-badge>
            <br>
            <span class="textSelect">
              Soldador - 5 años de experiencia Santiago, Qta. normal
            </span><br>
            <small class="main-color">Contactado hace 3 días</small>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="4">
          <ion-text>
            <p class="ratingText main-color ion-text-center">
              4.3
              <ion-icon name="star"></ion-icon>
            </p><br>
            <!-- icons -->
            <div class="locate-cont">
              <ion-icon name="hammer" color="light" class="rating-text"></ion-icon>
            </div>
            <div class="locate-cont">
              <ion-icon name="time" color="light" class="rating-text"></ion-icon>
            </div>
            <div class="locate-cont">
              <ion-icon name="heart" color="light" class="rating-text"></ion-icon>
            </div>
            <div class="locate-cont">
              <ion-icon name="trophy" color="light" class="rating-text"></ion-icon>
            </div>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- proff contactado card item -->
  <div class="prof-cont ion-margin-top no-border" (click)="solicitudes()">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color">Diego Zapata </span><br>
            <ion-badge color="medium" class="badge-text">Cerrajería</ion-badge>
            <ion-badge color="medium" class="badge-text">Gasfiter</ion-badge>
            <br>
            <span class="textSelect">
              Soldador - 5 años de experiencia Santiago, Qta. normal
            </span><br>
            <small class="main-color">Contactado hace 3 días</small>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="4">
          <ion-text>
            <p class="ratingText main-color ion-text-center">
              4.1
              <ion-icon name="star"></ion-icon>
            </p><br>
            <!-- icons -->
            <div class="locate-cont">
              <ion-icon name="hammer" color="light" class="rating-text"></ion-icon>
            </div>
            <div class="locate-cont">
              <ion-icon name="time" color="light" class="rating-text"></ion-icon>
            </div>
            <div class="locate-cont">
              <ion-icon name="heart" color="light" class="rating-text"></ion-icon>
            </div>
            <div class="locate-cont">
              <ion-icon name="trophy" color="light" class="rating-text"></ion-icon>
            </div>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content>
