.profileImg
{
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.imgCont
{
    margin-top: 15px;
}
.profileIcon
{
    font-size: 16px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.rate-cont
{
    border-radius: 50px;
    height: 30px;
    width: 30px;
    background-color: #53657e;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -22px;
}
.catText
{
    font-size: 10px;
}
.border
{
    border: 1px solid #009ACE;
}
.regText
{
    font-size: 18px;
}
.imgSingle
{
    height: 150px;
}
.locate-cont
{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #009ACE;
}
.rating-text
{
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
}

.imgSlide{
    width: 100%;
}
.select-categories-component {
    --padding-top: 0;
    --padding-bottom: 0;
    margin-top: -16px;
    height: 2rem;
    width: 155px;
    background-color: white;
    color: #009ACE;
    border-color: white;
    margin-left: -4px;
}
.select-categories {
    border: 1px solid #009ACE;
    border-radius: 32px;
    height: 2rem;
}
.delete-icon {
    font-size: 32px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    right: 0px;
    top: 0;
}
.deleteBtn {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    color: white;
    width: 32px;
    padding: 0;
    margin: 0;
    --padding-start: 0;
    --padding-end: 0;
    ion-icon {
      position: absolute;
    }
  }

  .cusSelect {
    border: 0px;
    outline: 0px;
    font-size: 14px;
    height: 32px;
    background-color: white;
    width: 100%;
    border: solid 2px #009ace;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    // background-image: url("data:image/svg+xml;utf8,<svg fill='#009ace' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    text-align: center;
    --padding-star: 0
  }

  ion-input {
    --padding-start: 0px;
}

.pl-0 {
    padding-left: 0;
} 

.pr-0 {
    padding-right: 0;
}

.pd-8 {
 padding-left: 12px;
 padding-right: 12px;
}