.title {
  font-size: 22px;
  font-weight: bold;
}
hr {
  border-top: 1px solid #e54360;
}
.category-item {
  height: 190px;
  width: 108%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: -15px;
  margin-top: 25px;
  box-shadow: 1px 8px 20px 0px rgba(0, 0, 0, 0.25);

  @media (min-width: 768px) {
    height: 300px;
  }
}
.cat-bar {
  background-image: url("/assets/images/cat_bar.png");
  height: 80px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 20px;

  @media (min-width: 768px) {
    padding-left: 30px;
    height: 120px;
  }
}
.cat-title {
  margin-top: 7px;
  margin-bottom: 0;
  font-size: 20px;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}
.cat-text {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 13px;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}
.rate-cont {
  border-radius: 50px;
  height: 42px;
  width: 42px;
  background-color: white;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: 30px;
  margin-top: -32px;
}
.rating-text {
  font-size: 13px;
}
.ml-1 {
  margin-left: 3px;
}

.btn-category {
  background-color: #32b6dd;
  background: #32b6dd;
  border-radius: 10px;
  
  --background: #32b6dd;
  --background-activated: var(--ion-color-primary-shade, #32b6dd);
  --background-focused: var(--ion-color-primary-shade, #32b6dd);
  --background-hover: var(--ion-color-primary-tint, #32b6dd);
}
