<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profesional/home/home-tabs/solicitudes" text="" icon="arrow-back">
      </ion-back-button>
    </ion-buttons>

    <ion-title class="title-toolbar">ACEPTAR SOLICITUD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- profesional card item -->
  <div class="no-border">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- profile img -->
        <ion-col size="4" offset="1">
          <ion-avatar class="profileImg">
            <ion-img
              src="{{ !loadedInfo.img_client_profile || loadedInfo.img_client_profile === '/' ? 'assets/images/avatar.png' : loadedInfo.img_client_profile  }}">
            </ion-img>
          </ion-avatar>
        </ion-col>

        <!-- title -->
        <ion-col size="6">
          <ion-text>
            <small class="ticket">Ticket #{{ loadedInfo.ticket_number }}</small><br>
            <span class="titleSelect main-color ion-text-capitalize">{{ loadedInfo.categoryName }} para<br>
              <span class="ion-text-capitalize titleName">{{ loadedInfo.clientName+" "+loadedInfo.clientLastName
                }}</span>
            </span><br>
            <p class="main-color mini-text" style="margin-top: 0; margin-bottom: 0;">{{ d(loadedInfo.created_date) }}
            </p>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>

    <!-- title -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-icon src="/assets/icon/ic_engine.svg" class="main-color"></ion-icon>
        <ion-text class="main-color title"><b> Trabajo requerido</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="titleText">{{ loadedInfo.description }}</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- Slider -->
    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="slideOptions">

          <!-- slide -->
          <ion-slide *ngFor="let image of loadedInfo.images">
            <img src="{{ image.image }}" class="imgSlide">
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>

    <!-- Fecha de visita -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-icon src="/assets/icon/ic_date_range.svg" class="main-color iconFixTitle"></ion-icon>
        <ion-text class="main-color subtitle"><b> Fecha de visita</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="subText"> {{ formatDate(loadedInfo.date_required) }}</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- Rango de horas -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-icon src="/assets/icon/ic_schedule.svg" class="main-color iconFixTitle"></ion-icon>
        <ion-text class="main-color subtitle"><b> Rango de horas</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="subText"> {{ formatTime(loadedInfo.hours) }}</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- Costo -->
    <!-- <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-icon name="wallet-outline" class="main-color iconFixTitle"></ion-icon>
        <ion-text class="main-color subtitle"><b> Costo</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="subText"> $30 USD</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row> -->

    <!-- Contactar -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="main-color subtitle"><b>Contactar</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <!-- icons -->
        <div class="locate-cont bg-green-color" (click)="call()">
          <ion-icon name="call" color="light" class="rating-text"></ion-icon>
        </div>
        <div class="locate-cont bg-green-color" (click)="wa()">
          <ion-icon name="logo-whatsapp" color="light" class="rating-text"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <br/>
    <!-- Visita de valoracion -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="main-color subtitle"><b>¿Requieres una visita de valoración?</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button size="5" expand="block" class="ion-text-uppercase" color="primary" fill="outline" (click)="confirmVisit()">
          <ion-icon slot="start" src="/assets/icon/ic_date_range.svg"></ion-icon>
          VISITA DE VALORACIÓN
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- Visita de valoracion -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="main-color subtitle"><b>Si no requieres una visita de valoración, agenda el trabajo final.</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button size="5" expand="block" class="ion-text-uppercase" color="primary" (click)="accceptSolicitud()">
          ACEPTAR TRABAJO
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>