<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/home" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="main-color title-toolbar">¿DÓNDE NOS NECESITAS?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>
  <!-- locate -->
  <div class="locate-cont">
    <ion-icon name="locate" color="primary" class="rating-text"></ion-icon>
  </div>

  <!-- scane -->
  <div class="scan-cont">
    <ion-icon name="scan-outline" color="primary" class="rating-text"></ion-icon>
  </div>

  <!-- nombre -->
  <ion-grid class="top-center">
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-item class="floating-input" lines="none">
          <ion-icon name="search" slot="end" class="main-color"></ion-icon>
          <ion-input placeholder="¿Cuál es la dirección?" type="text" class="main-color no-line"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-no-padding">
    <ion-grid>

      <!-- title -->
      <!-- <ion-row class="ion-no-padding ion-no-margin">
        <ion-col size="10" offset="1" class="ion-text-center">
          <ion-text class="main-color ion-text-uppercase title">CONFIRMA TU DIRECCIÓN</ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>
        <ion-col size="1" offset="1"></ion-col>
        <ion-col size="8" class="ion-text-center">
          <ion-text><hr></ion-text>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row> -->

      <!-- detalles de la direccion -->
      <ion-row class="ion-no-padding ion-no-margion">
        <ion-col size="10" offset="1">
          <ion-item>
            <ion-label position="floating" class="main-color">
              <ion-icon name="pricetag" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Detalles de la dirección.</ion-text>
            </ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- enviar mensaje BTN -->
      <ion-row class="ion-margin-top">
        <ion-col size="1"></ion-col>
        <ion-col>
          <ion-button size="10" expand="block" class="ion-text-uppercase" (click)="searchPro()">
            CONTINUAR
          </ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-footer>
