<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/user/home" text="" icon="arrow-back"></ion-back-button>
      <ion-menu-button color="primary" menu="user"></ion-menu-button>
    </ion-buttons>
    <ion-title class="main-color title-toolbar ion-text-uppercase">¿Dónde nos necesitas?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div #map id="map">

    </div>
    <ion-fab class="controls" horizontal="end" vertical="top" slot="fixed">
      <ion-fab-button class="float-bottom" color="white" (click)="loadMap()">
        <ion-icon name="locate" color="primary"></ion-icon>
      </ion-fab-button>
      <!--
      <ion-fab-button class="float-bottom" color="white" (click)="showCords()">
        <ion-icon name="information-circle-outline" color="primary"></ion-icon>
      </ion-fab-button>
      -->
    </ion-fab>
  </div>

  <!-- nombre -->
  <ion-grid class="top-center">
    <ion-row>
      <ion-col size="12">
        <ion-searchbar class="search_bar_map" placeholder="¿Cuál es la dirección?" [(ngModel)]="autocomplete.input"
          (ionChange)="updateSearchResults($event)" (ionClear)="clearAutocomplete()" animated color="transparent">
        </ion-searchbar>
        <ion-list [hidden]="autocompleteItems.length == 0">
          <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
            {{ item.description }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-toolbar class="ion-no-padding">
          <ion-grid>

            <!-- title -->
            <!-- <ion-row class="ion-no-padding ion-no-margin">
              <ion-col size="10" offset="1" class="ion-text-center">
                <ion-text class="main-color ion-text-uppercase title">CONFIRMA TU DIRECCIÓN</ion-text>
              </ion-col>
              <ion-col size="1"></ion-col>
              <ion-col size="1" offset="1"></ion-col>
              <ion-col size="8" class="ion-text-center">
                <ion-text><hr></ion-text>
              </ion-col>
              <ion-col size="1"></ion-col>
            </ion-row> -->

            <form [formGroup]="form" (ngSubmit)="searchPro()" class="form-padding">
              <ion-row class="ion-justify-content-center">
                <ion-col size="12">
                  <ion-title class="main-color title ion-text-uppercase">
                    Confirma tu dirección
                  </ion-title>
                </ion-col>
                <ion-col size="6">
                  <hr />
                </ion-col>
              </ion-row>
              <!-- detalles de la direccion -->
              <ion-row class="ion-no-padding ion-no-margion">
                <ion-col size="12">
                  <ion-item class="ion-no-padding">
                    <ion-label position="floating" class="main-color ion-no-margin">
                      <ion-icon src="/assets/icon/ic_place.svg" slot="start" class="main-color"></ion-icon>
                      <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Dirección</ion-text>
                    </ion-label>
                    <ion-input type="text" formControlName="address"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-padding ion-no-margion">
                <ion-col size="12">
                  <ion-item class="ion-no-padding">
                    <ion-label position="floating" class="main-color ion-no-margin">
                      <ion-icon src="/assets/icon/ic_tag.svg" slot="start" class="main-color"></ion-icon>
                      <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Detalles de la dirección ej. casa, oficina
                      </ion-text>
                    </ion-label>
                    <ion-input type="text" formControlName="addressDirection"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-padding ion-no-margion">
                <ion-col size="12">
                  <ion-item class="ion-no-padding">
                    <ion-label position="floating" class="main-color ion-no-margin">
                      <ion-icon src="/assets/icon/ic_speaker_notes.svg" slot="start" class="main-color"></ion-icon>
                      <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Agregar instrucciones ej. tocar el timbre
                      </ion-text>
                    </ion-label>
                    <ion-input type="text" formControlName="addressInstructions"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <br/>
              <br/>
              <!-- find BTN -->
              <ion-button size="10" expand="block" class="ion-text-uppercase btn-submit" type="submit"
                [disabled]="!form.valid">
                CONTINUAR
              </ion-button>
            </form>

          </ion-grid>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>