<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profesional/home/home-tabs/agendados/agendados-finalizar" text="" icon="arrow-back"></ion-back-button>
      <ion-button class="homeBtn" (click)="openMenu()">
        <ion-icon name="menu" class="homeBtn"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title-toolbar">SERVICIOS ADICIONALES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- profesional card item -->
  <div class="no-border">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- profile img -->
        <ion-col size="4" offset="1">
          <ion-avatar class="profileImg">
            <img src="/assets/images/avatar.png"/>
          </ion-avatar>
        </ion-col>

        <!-- title -->
        <ion-col size="7">
          <ion-text>
            <small class="ticket">Ticket #100091234</small>
            <span class="titleSelect main-color">
              Cerrajería para<br>
              Emmy Mut
            </span>
            <br>
            <p class="textSelect main-color" style="margin-top: 0; margin-bottom: 0;">27 nov 2020</p>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>

    <!-- text -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="main-color regText"><b>Detalles del trabajo adicional</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- text-area -->
    <ion-row class="ion-margin-top">
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="border ion-text-center">
        <ion-item lines="none">
           <ion-textarea rows="3" cols="20" placeholder="Describe los trabajos adicionales. Máximo 250 caracteres con espacios."></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- title -->
    <ion-row class="ion-margin-top">
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="main-color title"><b>Fotografías del trabajo realizado</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- images -->
    <ion-row class="ion-align-items-center">
      <ion-col size="4" offset="1">
        <img src="/assets/images/unavailable-image.png" class="imgSingle">
      </ion-col>
      <ion-col size="4">
        <img src="/assets/images/unavailable-image.png" class="imgSingle">
      </ion-col>
      <ion-col size="3">
        <div class="locate-cont">
          <ion-icon name="add" color="light" class="rating-text"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <!-- title -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="main-color title"><b>Captura el costo <span class="redText">*</span></b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- email -->
    <ion-row>
      <ion-col size="11">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="wallet" slot="start" class="main-color"></ion-icon>
            <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Ingresa el costo del servicio.</ion-text>
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

     <!-- GUARDAR trabajo BTN -->
     <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button size="5" expand="block" class="ion-text-uppercase" color="primary" (click)="saveExtra()">
          GUARDAR
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
