<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profesional/home/home-tabs/solicitudes/solicitudes-detail" text="" icon="arrow-back"></ion-back-button>
      <ion-button class="homeBtn" (click)="openMenu()">
        <ion-icon name="menu" class="homeBtn"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title class="title-toolbar">DEFINICIÓN DEL SERVICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- profesional card item -->
  <div class="no-border">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- profile img -->
        <ion-col size="4" offset="1">
          <ion-avatar class="profileImg">
            <ion-img src="{{ !loadedInfo.img_client_profile ? 'assets/images/avatar.png' : 'http://workintest.herokuapp.com'+loadedInfo.img_client_profile  }}"></ion-img>
          </ion-avatar>
        </ion-col>

        <!-- title -->
        <ion-col size="6">
          <ion-text>
            <small class="ticket">Ticket #{{ loadedInfo.ticket_number }}</small><br>
            <span class="titleSelect main-color ion-text-capitalize">{{ loadedInfo.categoryName }} para<br>
              <span class="ion-text-capitalize titleName">{{ loadedInfo.clientName+" "+loadedInfo.clientLastName }}</span>
            </span><br>
            <p class="main-color mini-text" style="margin-top: 0; margin-bottom: 0;">{{ d(loadedInfo.created_date) }}</p>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>

    <!-- title -->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-icon name="build" class="main-color"></ion-icon>
        <ion-text class="main-color title"><b> Trabajo requerido</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text class="titleText">{{ loadedInfo.description }}</ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <form [formGroup]="form" (ngSubmit)="confirmRequest()">
      <!-- Slider -->
      <ion-row>
        <ion-col size="12">
          <ion-slides [options]="slideOptions">
            
            <!-- slide -->
            <ion-slide *ngFor="let image of loadedInfo.images">
              <img
                src="{{ 'http://workintest.herokuapp.com'+image.image }}"
                class="imgSlide"
              >
            </ion-slide>

          </ion-slides>
        </ion-col>
      </ion-row>

      <!-- Fecha requerida -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label class="main-color" position="floating">
              <ion-icon name="calendar" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Fecha requerida</ion-text>
            </ion-label>
            <ion-datetime
              formControlName="dateReq">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Hora incial -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label class="main-color" position="floating">
              <ion-icon name="time" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">Hora inicial</ion-text>
            </ion-label>
            <ion-datetime
              formControlName="sHour"
              display-format="h:mm A"
              picker-format="h:mm A">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- hora final  -->
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label class="main-color" position="floating">
              <ion-icon name="time" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">Hora final</ion-text>
            </ion-label>
            <ion-datetime
              formControlName="eHour"
              display-format="h:mm A" 
              picker-format="h:mm A">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- costo -->
      <!-- <ion-row>
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="wallet" slot="start" class="main-color"></ion-icon>
              <ion-text class="main-color">&nbsp;&nbsp;&nbsp;Costo</ion-text>
            </ion-label>
            <ion-input formControlName="costo" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row> -->

      <!-- enviar solicitud BTN -->
      <ion-row class="ion-margin-top ion-margin-bottom">
        <ion-col size="1"></ion-col>
        <ion-col>
          <ion-button
            size="5" expand="block"
            type="submit"
            class="ion-text-uppercase">
            ACEPTAR SOLICITUD
          </ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </form>

  </ion-grid>

</ion-content>
