.prof-cont
{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 10px;
}
.titleSelect
{
    font-size: 16px;
    font-weight: bold;
}
.miniText {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 16px;
    max-height: 32px;
    -webkit-box-orient: vertical;
}

.mainText {
    font-size: 13px;
}

.miniText::first-letter {
    text-transform: capitalize;
}

.title
{
    font-size: 17px;
}
.miniBtnTxt
{
    font-size: 8px;
}
.iconSize
{
    font-size: 20px;
}
.iconS{
    font-size: 22px;
}
.iconFix
{
    margin-bottom: -2px;
}
.locate-cont
{
    border-radius: 50px;
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
}
.locate-cont-green
{
    border-radius: 50px;
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #2dd36f;
}
.rating-text
{
font-size: 14px;
margin-left: auto;
margin-right: auto;
}
.endText
{
    font-size: 13px;
}
.badgeText
{
    font-size: 16px;
}