.status-cont {
  border-radius: 50px;
  height: 45px;
  width: 45px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background-color: #009ace;
}
.status-text-icon {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
}
.status-text {
  font-size: 22px;
}
.mini-text {
  font-size: 13px;
}
hr {
  border-top: 1px solid #009ace;
}
.border {
  border: 2px solid #009ace;
  border-radius: 5px;
}
.textarea::placeholder {
  color: #009ace;
}
.textarea::-webkit-input-placeholder {
  color: #009ace;
}

.textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #009ace;
}

.textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #009ace;
}

.textarea:-ms-input-placeholder {
  color: #009ace;
}

.textarea::placeholder {
  color: #009ace;
}
.padding {
  padding: 0 10px;
}
.scroll-content {
  padding-bottom: 0 !important;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
