<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/register" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase main-color title-toolbar">Términos y condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-tex>
    <h1>Términos y condiciones de uso de WORKIN</h1>
    <h4>
      Estos términos y condiciones han sido actualizados al -- de 2020.
    </h4>
    <h4 class="text-left">
      1.- Los términos y condiciones de uso
    </h4>
    <p>
      Los términos y condiciones de uso de la plataforma WORKIN (los “Términos”) son acordados por ti y por Integración
      Sociolaboral SpA, rol único tributario N° 77.026.235-6 (“Integración Sociolaboral”).
    </p>
    <p>
      Los Términos rigen el acceso y uso de la plataforma WORKIN (o “la Plataforma”), incluyendo su contenido,
      funcionalidades y los servicios ofrecidos en ella.
    </p>
    <h4 class="text-left">
      2.- ¿Qué es WORKIN?
    </h4>
    <p>
      WORKIN es una Plataforma móvil disponible para descarga y uso en dispositivos que operan con iOS y Android, en la
      que se ofrecen servicios a domicilio de electricidad, gasfitería, instalaciones sanitarias, entre otros, (los
      “Servicios” e individualmente el “Servicio”).
    </p>
    <p>
      Mediante esta Plataforma, Integración Sociolaboral busca disminuir las brechas de empleo para personas en
      situación de vulnerabilidad por exclusión laboral, acercándolas a nuevas oportunidades, que les permitan entregar
      soluciones integrales a problemas domésticos y empresariales (incluyendo garantía y postventa).
    </p>
    <p>
      Para ello, Integración Sociolaboral pone a disposición esta Plataforma digital de contacto encaminada a agilizar y
      facilitar la puesta en contacto entre el prestador que brindará el servicio y tú.
    </p>
    <p>
      Los Servicios de WORKIN se encuentran actualmente disponibles para las ciudades de Concepción y Santiago.
    </p>
    <h4 class="text-left">
      3.- ¿Cómo registrarse y crear una cuenta en la Plataforma?
    </h4>
    <p>
      Para usar los Servicios deberás descargar la Plataforma en tu dispositivo móvil y registrarte mediante la creación
      de una cuenta de usuario (la “Cuenta”), completando los datos que sean solicitados. Solo podrán crear una Cuenta,
      los usuarios mayores de 18 años de edad, que tengan capacidad legal para celebrar contratos y que hayan aceptado
      estos Términos tras su lectura, entendimiento y comprensión.
    </p>
    <p>
      Una vez completada la información requerida, se verificará la veracidad y autenticidad de los antecedentes. La
      creación de la Cuenta no tiene ningún costo asociado.
    </p>
    <p>
      Es fundamental que la información proporcionada sea exacta, completa, veraz y actualizada al registrarte. Podrás
      actualizar tu información personal a través de la Plataforma, cuantas veces sea necesario. En caso de no
      suministrar la información o documentación que sea requerida, Integración Sociolaboral no podrá completar el
      proceso de verificación de tus datos, por lo que no podrás utilizar los Servicios.
    </p>
    <p>
      Si por algún motivo experimentas algún problema al momento de registrar tus datos para utilizar la Plataforma o
      requieres rectificar algunos datos personales, te sugerimos ponerte en contacto con Integración Sociolaboral a
      través del siguiente correo electrónico: info.workin@infocap.cl.
    </p>
    <p>
      La Cuenta es personal, única e intransferible. Integración Sociolaboral podrá cancelar, suspender o inhabilitar
      las cuentas que contengan datos coincidentes o relacionados, sin autorización previa.
    </p>
    <p>
      Eres responsable por todas y cualesquiera actividades desarrolladas a través de tu Cuenta, por lo que debes
      procurar la confidencialidad de tu clave secreta y no revelarla a terceros. Si tomas conocimiento o sospechas de
      que los datos de tu Cuenta han sido objeto de algún tipo de apropiación indebida, deberás informarnos
      inmediatamente, a través del correo info.workin@infocap.cl.
    </p>
    <p>
      Siempre podrás solicitar la eliminación de tu Cuenta. Cualquier tarifa o cargo pendiente deberá ser abonado antes
      de su eliminación. Una vez que hayas dado cumplimiento a todas las obligaciones pendientes asociadas a los
      Servicios, se procederá a cancelar tu membresía.
    </p>
    <h4 class="text-left">
      4.- ¿Qué Servicios podrás encontrar en WORKIN?
    </h4>
    <p>
      Los Servicios se dividen en categorías que contienen múltiples tareas, facilitándote el poder encontrar y acceder
      a aquél que buscas.
    </p>
    <p>
      Los Servicios son entregados por prestadores que se han capacitado en el uso de la Plataforma y en la atención que
      deben brindarte (el “Prestador” o los “Prestadores”). Todos los Prestadores han sido evaluados rigurosamente con
      el fin de brindarte la mayor calidad y confianza en los servicios.
    </p>
    <p>
      La Plataforma permite ser un punto de enlace o contacto con el Prestador para la realización del servicio
      requerido. A través de la Plataforma podrás ponerte en contacto con aquellos Prestadores con experiencia en la
      respectiva especialidad y de acuerdo con su cercanía territorial con el domicilio en que se prestará el servicio.
      La Plataforma permite ser un punto de enlace o contacto con el Prestador para la realización del servicio
      requerido. A través de la Plataforma podrás ponerte en contacto con aquellos Prestadores con experiencia en la
      respectiva especialidad y de acuerdo con su cercanía territorial con el domicilio en que se prestará el servicio.
    </p>
    <p>
      WORKIN te permite enviar imágenes y textos para que puedas explicar detalladamente las especificaciones de tu
      necesidad al Prestador, una vez que identifiques el servicio que necesitas. Al contactarte con el Prestador,
      podrás acceder a su información de contacto y cotizar de manera inmediata los valores por los Servicios
      requeridos, fijando una fecha para su realización, lo que se materializará en el acuerdo de trabajo.
    </p>
    <p>
      En el momento en que acuerdas la realización del Servicio con un Prestador, cada parte será responsable de cumplir
      con sus obligaciones en tiempo y forma, procurando obrar de forma leal y honesta. En dicha relación, WORKIN solo
      cumple el rol de punto de encuentro entre el Prestador y el usuario, ayudando a que ambos satisfagan sus intereses
      con la diligencia debida.
    </p>
    <p>
      WORKIN te enviará una confirmación escrita de los Servicios solicitados al correo electrónico registrado al
      momento de crear tu cuenta en la Plataforma, a fin de garantizar un oportuno y debido conocimiento de todas las
      condiciones del Servicio junto con la posibilidad de que puedas almacenarlas o imprimirlas.
    </p>
    <p>
      Los Servicios se prestarán en tu domicilio personal o en el lugar convenido con el Prestador. Eres responsable de
      facilitar las condiciones para el desempeño del trabajo al Prestador en el día y hora convenido, esto incluye,
      pero no se limita a habilitar el acceso al lugar en que desempeñará su labor, facilitar un lugar de trabajo
      despejado, limpio y seguro según las características del encargo.
    </p>
    <p>
      Los Prestadores podrán trabajar junto con asistentes, ayudantes, subcontratistas u otro personal que colabore en
      el desempeño de sus funciones, situación que habrá de ser informada de forma previa al Usuario y autorizada por
      éste antes de la prestación del Servicio.
    </p>
    <p>
      Los Servicios ofrecidos podrán ir variando en el tiempo de acuerdo con la disponibilidad de Prestadores y a la
      oferta y demanda de nuestros clientes.
    </p>
    <h4 class="text-left">
      5.- Exclusión del derecho de retracto por los usuarios
    </h4>
    <p>
      Con el fin de fomentar la seguridad y la confianza en los Servicios que se realicen a través de la Plataforma y
      garantizar a los Prestadores que contarán con ingresos futuros una vez confirmado el acuerdo de trabajo, se
      excluye de todos los contratos el derecho de retracto unilateral que consagra el artículo 3 bis letra b) de la Ley
      Nº 19.496 sobre Protección de los Derechos de los Consumidores.
    </p>
    <p>
      La exclusión referida bajo ningún aspecto impide que los Usuarios puedan exigir a los Prestadores que respondan
      ante los vicios y/o defectos en el Servicio prestado, los que se regirán por la legislación vigente a la época de
      celebración del contrato.
    </p>
    <h4 class="text-left">
      6.- ¿Cómo puedes calificar a los Prestadores?
    </h4>
    <p>
      Una vez realizado el trabajo, la Plataforma te permite calificar inmediatamente al Prestador e incluir comentarios
      sobre tu experiencia con el fin de que otros Usuarios se puedan formar una opinión sobre sus Servicios. Las
      reseñas no podrán contener descalificaciones, difamaciones, ni lenguaje peyorativo. En caso de que ello ocurra,
      WORKIN podrá eliminar tales comentarios sin necesidad de previo aviso.
    </p>
    <p>
      La Plataforma puede contener perfiles, blogs, áreas de chats, foros, comunidades, espacios de intercambio de
      mensajes, reseñas, calificaciones, publicaciones de tareas, avisos y/u otros servicios de mensajes o
      comunicaciones ("Áreas Públicas") que te permitirán y Prestadores. Sólo podrás utilizar dichas Áreas Públicas para
      intercambiar mensajes y materiales que se ajusten a las disposiciones de estos Términos y cuyo contenido sea
      adecuado para el foro correspondiente. Por tu seguridad e integridad de la Plataforma, te recomendamos no
      compartir información personal de contacto con otros Usuarios.
    </p>
    <h4 class="text-left">
      7.- ¿Cuáles son los precios y las formas de pago disponibles?
    </h4>
    <p>
      Cada Prestador fijará el precio que cobrará por el Servicio solicitado, el que variará de acuerdo a las
      características, requisitos, condiciones y complejidad del encargo. Cada Servicio tendrá asociado precios de
      referencia entre los que podrán cobrar los Prestadores, en atención a las características particulares de cada
      encargo, tal como pero no limitado al tipo de Servicio, los insumos básicos requeridos para su prestación, la
      distancia del lugar en que se desempeñará la labor, tiempo destinado al servicio, entre otros. El valor final a
      cobrar por el Prestador será conocido por ti de forma anticipada a la realización del encargo.
    </p>
    <p>
      El valor final a cobrar no contempla el costo de materiales, piezas y/o repuestos requeridos para prestar los
      Servicios, los que serán de cargo y responsabilidad del Usuario. El Prestador te informará de forma previa a la
      prestación del Servicio cuáles de dichos requerimientos deberán ser adquiridos por ti. En caso alguno deberás
      asumir el costo de las herramientas básicas necesarias para prestar el Servicio, las cuáles son responsabilidad
      del Prestador.
    </p>
    <p>
      Si por circunstancias sobrevinientes y/o desconocidas para el Prestador, el Servicio se volviera más oneroso que
      aquel considerado al tiempo de efectuar la cotización, previo a modificar el valor final fijado y prestar el
      Servicio, el Prestador estará en la obligación de comunicar este hecho al Usuario, quien podrá aceptar el nuevo
      valor o desistirse de la prestación del Servicio.
    </p>
    <p>
      El cobro del valor de los Servicios será efectuado al momento de finalizar el trabajo y deberá ser pagado a través
      de la Plataforma, utilizando los medios de pago disponibles en esta, que son los siguientes:
    </p>
    <ul>
      <li>Pagos a través de Khipu, utilizando tarjetas de débito y crédito.</li>
      <li>Pagos a través de Khipu, mediante transferencia electrónica.</li>
    </ul>
    <p>
      En ambos casos recibirás el recibo del pago en el correo electrónico que registres en la Plataforma, junto con un
      informe del trabajo realizado. Este documento es el comprobante con el que podrás hacer valer la garantía del
      servicio.
    </p>
    <p>
      No estarás obligado a pagar otros gastos adicionales relacionados al transporte y/o alimentación del Prestador,
      los cuáles serán responsabilidad de cada Prestador a la hora de fijar el valor final del Servicio.
    </p>
    <h4 class="text-left">
      8.- Garantía por los Servicios
    </h4>
    <p>
      WORKIN tiene como prioridad fundamental prestar Servicios de calidad y excelencia, que cumplan a cabalidad con las
      expectativas de los Usuarios. En este sentido, WORKIN entrega a sus Usuarios una garantía de satisfacción cuyos
      términos puedes consultar en nuestro Anexo de Garantía de Satisfacción.
    </p>
    <h4 class="text-left">
      9.- ¿Cuáles son nuestras obligaciones y las tuyas como usuario de la Plataforma?
    </h4>
    <p>
      Nos obligamos a:
    </p>
    <ul>
      <li>
        Prestarte los Servicios de la Plataforma en las condiciones descritas en estos Términos, velando principalmente
        por que el contacto que tengas con el Prestador sea transparente, seguro y eficaz.
      </li>
      <li>
        Enviarte una confirmación escrita por los Servicios solicitados al correo electrónico registrado al momento de
        crear tu cuenta en la Plataforma, con el fin de que puedas conocer, almacenar e imprimir las condiciones del
        servicio.
      </li>
      <li>
        Prestarte asistencia técnica y mecánica en el uso de la Plataforma.
      </li>
      <li>
        Notificarte las modificaciones que realicemos a los Términos.
      </li>
      <li>
        Respetar las garantías de los servicios de acuerdo con las condiciones establecidas en estos Términos.
      </li>
      <li>
        Notificarte en caso de que incurras en alguna situación que amerite la imposición de una sanción.
      </li>
    </ul>
    <p>
      En caso de que experimentes algún problema con la Plataforma que impida a WORKIN brindarte una experiencia
      satisfactoria en conformidad a las obligaciones detalladas precedentemente, solicitamos ponerte en contacto con
      Integración Sociolaboral a través del correo info.workin@infocap.cl.
    </p>
    <p>
      En particular, al aceptar los presentes Términos, te obligas a:
    </p>
    <ul>
      <li>
        No infringir las disposiciones de estos Términos.
      </li>
      <li>
        Pagar por los Servicios contratados y permitirnos realizar los cobros que correspondan una vez que el Servicio
        sea
        prestado por el Prestador.
      </li>
      <li>
        Estar presente y/o facilitar la realización del encargo el día y hora acordados con el Prestador, respetando los
        horarios acordados con el Prestador.
      </li>
      <li>
        No requerir, solicitar o gestionar a los profesionales, servicios, labores, trabajos o encargos que no sean
        parte
        de los Servicios oficialmente ofrecidos en WORKIN.
      </li>
      <li>
        Respetar la integridad física y psíquica del Prestador.
      </li>
      <li>
        Transmitir o comunicar cualquier contenido de forma respetuosa hacia otros usuarios y Prestadores al utilizar
        las
        Áreas Públicas, quedando prohibido, bajo toda circunstancia, emplear lenguaje ofensivo, dañino, amenazador,
        abusivo, acosador, difamatorio, vulgar, obsceno, racial o de alguna otra manera objetable.
      </li>
      <li>
        No descalificar, difamar o emplear lenguaje peyorativo en las reseñas por los Servicios.
      </li>
      <li>
        No hackear nuestro servidor, extraer el código de WORKIN y/o hacer de cualquier forma un uso indebido de la
        Plataforma, las licencias o los derechos de propiedad intelectual que correspondan a WORKIN, Integración
        Sociolaboral o a cualquiera de sus personas relacionadas.
      </li>
    </ul>
    <p>
      WORKIN, en caso de evidenciar la ocurrencia de algún hecho que infrinja los presentes Términos, y sin perjuicio de
      las eventuales responsabilidades civiles y penales que corresponda perseguir, podrá imponer, dependiendo de la
      gravedad de la situación, alguna de las siguientes sanciones al Usuario:
    </p>
    <ul>
      <li>
        Mensaje de advertencia.
      </li>
      <li>
        Inhabilitación temporal del Usuario.
      </li>
      <li>
        Cancelación de la Cuenta.
      </li>
    </ul>
    <p>
      Las siguientes conductas serán sancionadas de acuerdo con lo indicado a continuación:
    </p>
    <ul>
      <li>
        En caso de no estar presente en el lugar y hora acordado con el Prestador, el Usuario podrá recibir un Mensaje
        de
        advertencia de WORKIN y en caso de ocurrir reiteradamente esta circunstancia, WORKIN podrá inhabilitar
        temporalmente la cuenta del Usuario.
      </li>
      <li>
        En caso de evidenciarse el hurto de las herramientas u otros artículos personales del Prestador, el Usuario
        podrá
        ser sancionado con la cancelación de su Cuenta.
      </li>
      <li>
        En caso de no pagar en tiempo y forma el valor indicado en la cotización enviada y aceptada, se podrá sancionar
        al
        Usuario con la cancelación de su Cuenta, mientras no salde la deuda.
      </li>
      <li>
        En caso de hackeo, extracción del código o uso indebido de la Plataforma, el Usuario podrá ser sancionado con
        [la
        cancelación de su cuenta].
      </li>
      <li>
        Si el incumplimiento de cualquiera de las condiciones establecidas en estos Términos implicase un perjuicio
        económico para el Prestador, WORKIN estará autorizado para inhabilitar al Usuario hasta que la situación sea
        regularizada con la Plataforma.
      </li>
    </ul>
    <p>
      Toda sanción por eventual infracción a estos Términos será debidamente notificada a fin de que el Usuario conozca
      oportunamente la justificación de la medida impuesta por WORKIN y pueda dar una solución oportuna a su situación
      en caso de ser procedente.
    </p>
    <h4 class="text-left">
      10.- ¿Cuál es la responsabilidad de WORKIN?
    </h4>
    <p>
      Dado que mediante esta Plataforma se desarrolla una actividad de intermediación con el único fin de facilitar el
      contacto y la transacción entre tú y los Prestadores, WORKIN no será responsable de cualquier pérdida o daño que
      surja de:
    </p>
    <ul>
      <li>
        El efectivo cumplimiento de las obligaciones asumidas por las partes en sus contratos (usuarios y Prestadores),
        salvo en lo que diga relación con la garantía que brinda WORKIN;
      </li>
      <li>
        El pago por los Servicios realizados por los Usuarios utilizando datos de pago obtenidos fraudulentamente,
        usando
        una identidad falsa u omitiendo información precisa y completa para acceder a los productos y/o servicios;
      </li>
      <li>
        La calidad e idoneidad de los materiales utilizados por los Prestadores al efectuar sus servicios, ya sea en
        relación con su fabricación, almacenamiento, procesamiento, rotulación, entrega, calidad o tratamiento de los
        productos y/o servicios ofrecidos y el leal cumplimiento de la legislación aplicable;
      </li>
      <li>
        La imposibilidad de acceder o usar la Plataforma y/o cualquiera de sus Servicios, o de acceder a cualquier
        contenido o cualquier servicio externo a través de la Plataforma;
      </li>
      <li>
        Circunstancias ajenas al control de WORKIN incluyendo, pero no limitado a, eventos o factores de fuerza mayor,
        cambios regulatorios o normativos, o sanciones.
      </li>
    </ul>
    <p>
      En la máxima extensión que permita la ley, Integración Sociolaboral, sus afiliadas, sus licenciantes, proveedores
      de servicios, empleados, agentes, funcionarios o directores, no serán responsables por daños y perjuicios,
      incluyendo, pero sin limitarse a, daños y perjuicios directos, indirectos, previsibles, imprevisibles, por lucro
      cesante, daño emergente, daño físico y moral, por la pérdida de datos, daños a la propiedad y cualquier otro
      perjuicio que deriven o se relacionen con hechos ajenos a nosotros.
    </p>
    <p>
      Lo anterior no implicará en forma alguna una renuncia anticipada de los derechos que le asistan al consumidor en
      virtud de la Ley N°19.496 que establece normas sobre Protección de los Derechos de los Consumidores.
    </p>
    <h4 class="text-left">
      11.- Garantía de indemnidad
    </h4>
    <p>
      Al aceptar estos Términos aceptas mantener indemne y eximir de responsabilidad a Integración Sociolaboral, sus
      afiliadas, licenciantes y proveedores de servicios, así como también a sus respectivos funcionarios, directores,
      empleados, contratistas, agentes, licenciantes, proveedores, sucesores y cesionarios, por todo y cualquier
      reclamo, responsabilidad, daños y perjuicios de cualquier naturaleza, sentencias, laudos, pérdidas, costas, gastos
      u honorarios (lo cual incluye sin limitación, los honorarios de abogados peritos y gastos de receptores y/o
      actuarios judiciales) que surjan o se vinculen directamente con una violación de tu parte a estos Términos, sin
      perjuicio de que nos reservamos, además, el derecho a ejercer todas las acciones judiciales, extrajudiciales o
      administrativas que franquea la ley para perseguir tu responsabilidad.
    </p>
    <h4 class="text-left">
      12.- Confidencialidad
    </h4>
    <p>
      WORKIN mantendrá la confidencialidad de la información entregada por ti en el marco de estos Términos, sin
      perjuicio de la información que debamos entregar a las autoridades. En caso de ser procedente, y de las
      obligaciones, derechos y restricciones indicadas en la Política de Privacidad. Puedes encontrar detalles sobre el
      tratamiento de datos personales que realizamos [INCLUIR LINK A POLÍTICA DE PRIVACIDAD].
    </p>
    <h4 class="text-left">
      13.- Licencia
    </h4>
    <p>
      WORKIN otorga una licencia limitada, gratuita, no exclusiva, no transferible y revocable para usar la Plataforma
      con fines no comerciales y sujetos a estos Términos. A no ser que no estés expresamente autorizado por WORKIN de
      forma previa y por escrito, no puedes vender, copiar, intercambiar, prestar, licenciar, sublicenciar, transferir,
      publicar, distribuir, usar ingeniería inversa, adaptar o modificar de cualquier manera (salvo en cuanto esté
      expresamente permitido por ley) la Plataforma o cualquier propiedad intelectual de WORKIN o sus afiliadas.
    </p>
    <p>
      Todos los desarrollos, conceptos, invenciones, patentes, derechos de autor, y cualquier otro tipo de propiedad
      industrial o intelectual que derive directa o indirectamente de la Plataforma o de su uso y explotación, son y
      serán en cualquier evento de propiedad exclusiva de WORKIN o los respectivos licenciantes.
    </p>
    <h4 class="text-left">
      14.- Derechos de Propiedad Intelectual
    </h4>
    <p>
      Estos Términos te permiten usar la Plataforma solo para fines personales, no comerciales.
    </p>
    <p>
      La Plataforma, sus contenidos, características y funcionalidades (información, software, texto, modo de
      disposición, imágenes, video y audio, y el diseño, selección y organización de todo ello, entre otros) son de
      propiedad de Integración Sociolaboral o de sus licenciantes autorizados, encontrándose protegidos por las leyes
      chilenas y normas internacionales sobre derechos de autor, marcas, patentes, secretos industriales y demás leyes
      sobre derechos de propiedad intelectual.
    </p>
    <p>
      No podrás reproducir, distribuir, modificar, crear obras derivadas, adaptar o modificar de cualquier manera,
      exhibir o exponer al público, repetir publicaciones, descargar, almacenar ni transmitir todo o parte de la
      Plataforma o de todo o parte del material de la Plataforma. Tampoco puedes solicitar privilegios de propiedad
      intelectual asociados a la Plataforma ni impugnar en modo alguno la tramitación u obtención de cualquier derecho
      de propiedad intelectual relacionado con la Plataforma.
    </p>
    <p>
      No podrás utilizar ilustraciones, fotografías, secuencias de video o audio o cualquier tipo de gráficos en forma
      separada del texto que los acompaña, borrar o modificar los signos de derechos de autor, marca u otros signos de
      derechos de propiedad intelectual de la Plataforma, o acceder o usar con fines comerciales cualquier contenido de
      la Plataforma, de los Servicios o material disponibles a través de ella.
    </p>
    <p>
      Lo anterior, con las siguientes excepciones:
    </p>
    <ul>
      <li>
        Imprimir o descargar contenidos de la Plataforma para uso personal y temporal, no comercial o con fines de
        ulterior reproducción, publicación y distribución.
      </li>
      <li>
        Almacenar archivos que son automáticamente guardados en la memoria caché por el navegador a fin de mejorar la
        visualización.
      </li>
    </ul>
    <p>
      Si infringes cualquiera de estas restricciones, perderás tu derecho a usar la Plataforma inmediatamente, y,
      exigiremos que devuelvas o destruyas las copias del material que hubieras obtenido, sin perjuicio del ejercicio de
      los derechos que nos correspondan como titulares o licenciatarios autorizados de la propiedad intelectual.
    </p>
    <h4 class="text-left">
      15.- ¿Cómo te puedes contactar con nosotros?
    </h4>
    <p>
      En WORKIN nos preocupamos porque tengas la mejor experiencia utilizando nuestra Plataforma, por ello, ponemos a tu
      disposición canales de contacto para que nos puedas enviar comentarios, consultas y para resolver observaciones y
      procesar solicitudes de asistencia técnica ágilmente. Puedes contactarnos al correo electrónico:
      info.workin@infocap.cl.
    </p>
    <h4 class="text-left">
      16.- ¿Podemos modificar estos Términos?
    </h4>
    <p>
      Los Servicios ofrecidos por WORKIN podrán variar con el tiempo, por lo que nos reservamos el derecho a retirar o
      modificar contenido de la Plataforma y a actualizar los Términos cuando sea necesario, lo que te informaremos de
      forma oportuna a través de un correo electrónico y/o una notificación en la Plataforma, con una anticipación de al
      menos quince días a la fecha de su entrada en vigencia.
    </p>
    <p>
      Es necesario que, una vez recibida la notificación, revises los Términos actualizados ya que el uso continuado de
      la Plataforma, después de su entrada en vigencia, se entenderá como tu aceptación de su contenido. Si luego de
      revisarlos, no estás de acuerdo y no aceptas los cambios, no deberás acceder a WORKIN ni usar los Servicios. Sin
      perjuicio de las obligaciones pendientes a la fecha de término del contrato, las que se mantendrán vigentes hasta
      su cumplimiento.
    </p>
    <p>
      Los Términos se entenderán modificados de pleno derecho en caso de que, por disposición legal o normativa, por
      acto de autoridad o por sentencia dictada por un tribunal, las actuales cláusulas no sean aplicables.
    </p>
    <p>
      Pese a que te notificaremos con la debida anticipación, te sugerimos comprobar periódicamente este documento para
      mantenerte informado sobre las actualizaciones de estos Términos. La fecha de la última modificación se encuentra
      al inicio de este documento.
    </p>
    <h4 class="text-left">
      17.- Sobre la disponibilidad de los Servicios de WORKIN
    </h4>
    <p>
      La Plataforma se proporciona en el estado en que se encuentra disponible. Sin perjuicio de que hacemos todos los
      esfuerzos razonables para mantener la seguridad de nuestra Plataforma, WORKIN no garantiza que ella se encuentre
      libres de errores o interrupciones en su funcionamiento en todo momento.
    </p>
    <p>
      La Plataforma puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por
      cualquier otra circunstancia ajena a WORKIN; en tales casos se procurará restablecer la Plataforma con la mayor
      celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad.
    </p>
    <p>
      En la máxima extensión que permita la ley, no seremos responsables por ninguna pérdida o daño causado mediante un
      ataque distribuido de denegación de servicio, virus, u otro material tecnológicamente dañino que pudiera infectar
      su dispositivo móvil, sus programas de computación, datos u otros materiales de su propiedad debido al uso de la
      Plataforma o de cualquier servicio o ítems asociado, o debido a haber descargado algún material existente en ella
      o en cualquier aplicación o plataforma vinculada. Lo antedicho no afecta las garantías que no pueden ser excluidas
      ni limitadas conforme a la ley aplicable.
    </p>
    <h4 class="text-left">
      18.- ¿Cuáles son las normas que rigen estos Términos?
    </h4>
    <p>
      Estos Términos se rigen por las leyes de la República de Chile y sus tribunales ordinarios de justicia tendrán
      jurisdicción sobre cualquier controversia o disputa que surja en relación con ellos, de acuerdo con las normas
      chilenas aplicables. Ello, sin perjuicio de los establecido en la Ley N°19.496 que establece normas sobre
      Protección de los Derechos de los Consumidores respecto de los tribunales competentes para conocer de las acciones
      contempladas en dicha ley y de la jurisdicción territorial de los mismos.
    </p>
    <br />
    <h1>ANEXO DE GARANTÍA</h1>
    <h4>
      DE SATISFACCIÓN DEL USUARIO
    </h4>
    <p>
      El brindar una prestación de Servicios de confianza, calidad y excelencia a los Usuarios de la Plataforma WORKIN
      es una prioridad para Integración Sociolaboral. En este entendido, y como parte de la experiencia de uso de la
      Plataforma y a fin de garantizar una total satisfacción por los Servicios contratados, Integración Sociolaboral
      otorga a los Usuarios la presente garantía de satisfacción (la “Garantía”).
    </p>
    <p>
      Se deja constancia que la Garantía está establecida como una garantía voluntaria en los términos de la Ley
      N°19.496 sobre Protección de los Derechos de los Consumidores (la “Ley”) y será sin perjuicio de la garantía legal
      a que tienen derecho los consumidores por disposición de la Ley.
    </p>
    <p>
      Los términos empleados en mayúscula que no se encuentren especialmente definidos en la presente Garantía,
      responderán a definiciones contenidas en los Términos y Condiciones de Uso de la Plataforma (los “Términos”).
    </p>
    <h4 class="text-left">
      1.- Derechos consagrados en la Garantía
    </h4>
    <p>
      Si, una vez prestado el Servicio por alguno de los Prestadores de WORKIN, el Usuario estimare que este no cumple
      con los estándares de calidad asegurados por la Plataforma, o que se hubiere prestado de forma defectuosa u
      ocasionado daño a la infraestructura reparada, WORKIN enviará a otro prestador con experiencia en el rubro
      requerido (el “Prestador Inspector”), a fin de que examine el trabajo realizado y determine si, conforme a los
      requisitos descritos, procede dar solución al Servicio prestado, en cuyo caso el este prestador procederá a
      subsanar el desperfecto o disconformidad previo acuerdo con el Usuario.
    </p>
    <p>
      La Garantía contempla el servicio de reparación y todo material, gasto, herramienta o insumo en que razonablemente
      deba incurrir el Prestador Inspector en ejercicio de este derecho.
    </p>
    <h4 class="text-left">
      2.- Ejercicio de la Garantía
    </h4>
    <p>
      Para que el Usuario pueda hacer efectiva la Garantía, deberá comunicar su disconformidad respecto del Servicio
      recibido, a través del formulario disponible en el Sitio web de INFOCAP (aquí) o directamente desde la opción
      disponible en la Plataforma. En la comunicación, el Usuario deberá documentar debidamente su disconformidad con el
      Servicio e indicar la falla técnica o defecto en la prestación del Servicio por parte del Profesional.
    </p>
    <h4 class="text-left">
      3.- Plazo de vigencia
    </h4>
    <p>
      El Usuario tendrá 45 días para hacer uso de los derechos consagrados en la Garantía, plazo que se contará desde la
      recepción del Servicio contratado.
    </p>
    <h4 class="text-left">
      4.- Evaluación por parte del Prestador Inspector
    </h4>
    <p>
      El Usuario declara entender y aceptar que, previo al ejercicio de la Garantía, el Prestador Inspector encomendado
      ha de preparar un diagnóstico e informe previo, en el que se evalúe el Servicio inicialmente prestado y determine
      las causas del alegado desperfecto (el “Diagnóstico”). Se deja constancia de que, a efectos de realizar el
      Diagnóstico, el Usuario habrá de coordinar con el Prestador Inspector una fecha y horario para efectuarse la
      visita.
    </p>
    <p>
      Si del Diagnóstico se evidencia que el desperfecto o daño fuere producido por un hecho o culpa atribuible a una
      acción o mal uso del Usuario, los términos de la presente Garantía no serán aplicables y dicha reparación no
      quedará cubierta por los derechos que en este instrumento se consagran.
    </p>
    <h4 class="text-left">
      5.- Gastos asociados al ejercicio de la Garantía
    </h4>
    <p>
      En caso de admitir su reclamo, Integración Sociolaboral asumirá la totalidad de los costos asociados al ejercicio
      de la Garantía, lo que incluye los cargos de traslado, herramientas, materiales e insumos requeridos para la plena
      satisfacción del Usuario.
    </p>
  </ion-tex>
</ion-content>