.no-border {
    padding-top: 2px;
    padding-bottom: 2px;
}
.profileImg {
    height: 75px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.titleSelect {
    font-size: 26px;
    font-weight: bold;
}
.subtitleSelect {
    font-size: 14px;
}
.miniTitle {
    font-size: 16px;
}
.text {
    font-size: 18px;
}
.total {
    margin-top: 0;
    font-size: 38px;
}
.margin-top {
    margin-top: 10px;
}
.description {
    font-size: 16px;
}
.imgSlide {
    height: 125px;
}
