.prof-cont {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 10px;
}
.titleSelect {
    font-size: 16px;
    font-weight: bold;
}
.mainText {
    font-size: 13px;
    display: inline-flex;
}
.miniText {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 16px;
    max-height: 32px;
    -webkit-box-orient: vertical;
}
.title {
    font-size: 17px;
}
.miniBtnTxt {
    font-size: 8px;
}
.iconSize {
    font-size: 20px;
}
.iconS {
    font-size: 22px;
}
.iconFix {
    margin-bottom: -2px;
}

.urgent-text {
    font-weight: bold;
}

.iconFix {
    margin-bottom: -2px;
    margin-left: 2px;
    margin-right: 2px;
}

.ion-item-solicitudes {
    --background: white;
    --border-color: white;
}

.textSelect {
    font-size: 10px;
    line-height: 1.4;
    margin-bottom: 0;
}

.ion-no-padding-left {
    padding-left: 0;
}
