<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-button class="homeBtn" (click)="openMenu()">
        <ion-icon name="menu" class="homeBtn"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title-toolbar">AGENDADOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- title -->
  <ion-grid fixed>
    <ion-row class="ion-margin-top">
      <ion-col size="11" class="ion-text-left">
        <ion-text class="main-color title"><b>Buenos días Juan Alcayaga, tienes los siguientes trabajos en tu agenda.</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>

  <!-- solicitud card item -->
  <div class="prof-cont no-border" (click)="solicitudDetail()">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color">Emmy Mut </span>&nbsp;&nbsp;
            <ion-badge color="primary" class="badge-text">Cerrajería</ion-badge>
            <br>
            <small>
              <ion-icon name="calendar" color="primary" class="iconFix"></ion-icon>
              27 nov 2020
              <ion-icon name="time" color="primary" class="iconFix"></ion-icon>
              8:00 - 16:00 h
            </small>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="4">
          <ion-text>
            <p class="ticketText ion-text-center ion-no-margin">Ticket #100091234</p>
            <ion-button expand="block" fill="outline" shape="round" class="miniBtnTxt" (click)="map()">
              <ion-icon slot="start" name="map"></ion-icon>
              VER MAPA
            </ion-button>

          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- solicitud card item -->
  <div class="prof-cont no-border" (click)="solicitudDetail()">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color">Pedrito Pérez </span>&nbsp;&nbsp;
            <ion-badge color="primary" class="badge-text">Carpintero</ion-badge>
            <br>
            <small>
              <ion-icon name="calendar" color="primary" class="iconFix"></ion-icon>
              30 nov 2020
              <ion-icon name="time" color="primary" class="iconFix"></ion-icon>
              12:00 - 18:00 h
            </small>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="4">
          <ion-text>
            <p class="ticketText ion-text-center ion-no-margin">Ticket #100091234</p>
            <ion-button expand="block" fill="outline" shape="round" class="miniBtnTxt" (click)="map()">
              <ion-icon slot="start" name="map"></ion-icon>
              VER MAPA
            </ion-button>

          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- solicitud card item -->
  <div class="prof-cont no-border" (click)="solicitudDetail()">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color">Emmy Mut </span>&nbsp;&nbsp;
            <ion-badge color="primary" class="badge-text">Cerrajería</ion-badge>
            <br>
            <small>
              <ion-icon name="calendar" color="primary" class="iconFix"></ion-icon>
              27 nov 2020
              <ion-icon name="time" color="primary" class="iconFix"></ion-icon>
              8:00 - 16:00 h
            </small>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="4">
          <ion-text>
            <p class="ticketText ion-text-center ion-no-margin">Ticket #100091234</p>
            <ion-button expand="block" fill="outline" shape="round" class="miniBtnTxt" (click)="map()">
              <ion-icon slot="start" name="map"></ion-icon>
              VER MAPA
            </ion-button>

          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- title -->
  <ion-grid fixed>
    <ion-row>
      <ion-col size="11" class="ion-text-left">
        <ion-text color="danger" class="title"><b>Tienes las siguientes visitas de evaluación agendadas.</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>

  <!-- solicitud card item -->
  <div class="prof-cont no-border" (click)="solicitudDetail()">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color">Pedrito Pérez </span>&nbsp;&nbsp;
            <ion-badge color="primary" class="badge-text">Carpintero</ion-badge>
            <br>
            <small>
              <ion-icon name="calendar" color="primary" class="iconFix"></ion-icon>
              30 nov 2020
              <ion-icon name="time" color="primary" class="iconFix"></ion-icon>
              12:00 - 18:00 h
            </small>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="4">
          <ion-text>
            <p class="ticketText ion-text-center ion-no-margin">Ticket #100091234</p>
            <ion-button expand="block" fill="outline" shape="round" class="miniBtnTxt" (click)="map()">
              <ion-icon slot="start" name="map"></ion-icon>
              VER MAPA
            </ion-button>

          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content>
