<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button class="homeBtn" (click)="openMenu()">
        <ion-icon name="menu" class="homeBtn"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title-toolbar">AGENDADOS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- title -->
  <ion-grid fixed>
    <ion-row class="ion-margin-top" style="align-items: center;">
      <ion-col offset="7">
        <span style="color: #009ace">Ver como</span>
        <ion-icon (click)="changeView('list')" class="icon-type-view" name="menu-outline"></ion-icon>
        <ion-icon (click)="changeView('cal')" class="icon-type-view" name="calendar-clear-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="11" class="ion-text-left">
        <ion-text class="main-color title" *ngIf="loadedServices.length > 0">
          <b>Buenos días <span class="ion-text-capitalize">{{grabbedUser.name}} {{grabbedUser.last_name}}</span>, tienes
            los siguientes trabajos en tu agenda.</b>
        </ion-text>
        <ion-text class="main-color title" *ngIf="loadedServices.length === 0">
          <b>Buenos días <span class="ion-text-capitalize">{{grabbedUser.name}} {{grabbedUser.last_name}}</span>, no
            tienes trabajos en tu agenda.</b>
        </ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>

  <!-- servicios agendados -->
  <ion-row [hidden]="viewMood !== 'cal'" style="text-align: center;align-items: center;">
    <ion-col size="3">
      <ion-button (click)="back()" class="btn-week-wallet">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-text class="dates-text-calendar">{{ datesView }}</ion-text>
    </ion-col>
    <ion-col size="3">
      <ion-button (click)="next()" class="btn-week-wallet">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <div [hidden]="viewMood !== 'cal'" style="height: 50vh; padding-left: 16px; padding-right: 16px;">
    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
      (onTitleChanged)="onViewTitleChanged($event)" [weekviewHeaderTemplate]="headerWeek"
      [weekviewNormalEventTemplate]="event">
    </calendar>
  </div>

  <ion-row [hidden]="viewMood !== 'cal'">
    <ion-col size="11" class="ion-text-left">
      <ion-text color="danger" class="title"><b>Tienes las siguientes visitas de valoración agendadas.</b></ion-text>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-row [hidden]="viewMood !== 'cal'" style="text-align: center;align-items: center;">
    <ion-col size="3">
      <ion-button (click)="backAgended()" class="btn-week-wallet">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-text class="dates-text-calendar">{{ datesAgendedView }}</ion-text>
    </ion-col>
    <ion-col size="3">
      <ion-button (click)="nextAgended()" class="btn-week-wallet">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <div [hidden]="viewMood !== 'cal'" style="height: 50vh; padding-left: 16px; padding-right: 16px;">
    <calendar #calendarAgended [hidden]="viewMood !== 'cal'" [eventSource]="eventSourceAgended" [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate" (onTitleChanged)="onViewTitleAgendedChanged($event)"
      [weekviewHeaderTemplate]="headerWeekAgended" [weekviewNormalEventTemplate]="eventAgended">
    </calendar>
  </div>

  <ng-template #event let-displayEvent="displayEvent">
    <div class="calendar-event-inner" (click)="solicitudDetail(displayEvent.event.title.id)">
      <div class="category-event-inner">
        {{ displayEvent.event.title.ticket}}
      </div>
    </div>
  </ng-template>

  <ng-template #eventAgended let-displayEvent="displayEvent">
    <div class="calendar-event-inner" (click)="solicitudDetail(displayEvent.event.title.id)">
      <div class="category-event-inner">
        {{displayEvent.event.title.ticket}}
      </div>
    </div>
  </ng-template>

  <ng-template #headerWeek let-viewDate="viewDate">
    <div class="week-day-header">
      <ion-row>
        {{ view(viewDate) }}
      </ion-row>
      <ion-row>
        {{ viewDay(viewDate) }}
      </ion-row>
    </div>
  </ng-template>

  <ng-template #headerWeekAgended let-viewDate="viewDate">
    <div class="week-day-header">
      <ion-row>
        {{ view(viewDate) }}
      </ion-row>
      <ion-row>
        {{ viewDay(viewDate) }}
      </ion-row>
    </div>
  </ng-template>


  <div class="prof-cont no-border" *ngFor="let service of loadedServices">
    <ion-grid [hidden]="viewMood !== 'list'">
      <ion-row class="ion-align-items-center">
        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center" (click)="solicitudDetail(service.id)">
          <ion-text>
            <span *ngIf="service.type_request == 'NORMAL'" class="titleSelect main-color ion-text-capitalize" color="danger">{{service.clientName+" "+ service.clientLastName}}&nbsp;&nbsp;
            </span>
            <span *ngIf="service.type_request == 'URGENT'" class="titleSelect urgent-color ion-text-capitalize" color="danger">{{service.clientName+" "+ service.clientLastName}}
            </span>&nbsp;&nbsp;
            <ion-badge [color]="service.type_request == 'URGENT' ? 'danger' : 'primary'" class="badge-text">{{ service.categoryName }}</ion-badge>&nbsp;
            <ion-icon *ngIf="service.type_request == 'URGENT'" src="/assets/icon/ic_error.svg" color="primary" class="iconFix"></ion-icon>
            <br>
            <small>
              <ion-icon src="/assets/icon/ic_date_range.svg" [color]="service.type_request == 'URGENT' ? 'danger' : 'primary'" class="iconFix"></ion-icon>
              {{ formatDate(service.date_required, service.type_request) }}
              <ion-icon src="/assets/icon/ic_schedule.svg" [color]="service.type_request == 'URGENT' ? 'danger' : 'primary'" class="iconFix"></ion-icon>
              {{ formatTime(service.hours) }}
            </small>
          </ion-text>
        </ion-col>

        <!-- ticket numer -->
        <ion-col size="4" class="text-center">

          <!-- enviada -->
          <ion-text>
            <!-- icons -->
            <small class="ticket ion-text-center">Solicitud #{{ service.ticket_number }}</small>
            <small class="ratingText main-color ion-text-center">
              <div class="location_button" (click)="openMaps(service.adress)">
                <ion-icon src="/assets/icon/ic_map.svg" color="primary" class="iconFix"></ion-icon>&nbsp;VER MAPA
              </div>
            </small>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- servicios Iniciados -->
  <div class="prof-cont no-border" *ngFor="let service of loadedStartedServices" (click)="solicitudDetail(service.id)">
    <ion-grid [hidden]="viewMood !== 'list'">
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span *ngIf="service.type_request == 'NORMAL'" class="titleSelect main-color ion-text-capitalize" color="danger">{{service.clientName+" "+ service.clientLastName}}&nbsp;&nbsp;
            </span>
            <span *ngIf="service.type_request == 'URGENT'" class="titleSelect urgent-color ion-text-capitalize" color="danger">{{service.clientName+" "+ service.clientLastName}}
            </span>&nbsp;&nbsp;
            <ion-badge [color]="service.type_request == 'URGENT' ? 'danger' : 'primary'" class="badge-text">{{ service.categoryName }}</ion-badge>&nbsp;
            <ion-icon *ngIf="service.type_request == 'URGENT'" src="/assets/icon/ic_error.svg" color="primary" class="iconFix"></ion-icon>
            <br>
            <small>
              <ion-icon src="/assets/icon/ic_date_range.svg" [color]="service.type_request == 'URGENT' ? 'danger' : 'primary'" class="iconFix"></ion-icon>
              {{ formatDate(service.date_required) }}
              <ion-icon src="/assets/icon/ic_schedule.svg" [color]="service.type_request == 'URGENT' ? 'danger' : 'primary'" class="iconFix"></ion-icon>
              {{ formatTime(service.hours) }}
            </small>
          </ion-text>
        </ion-col>

        <!-- ticket numer -->
        <ion-col size="4">

          <!-- enviada -->
          <ion-text>
            <!-- icons -->
            <small class="ticket ion-text-center">Solicitud #{{ service.ticket_number }}</small>
            <small class="ratingText main-color ion-text-center" *ngIf="service.status_id === 3">
              SERVICIO AGENDADO
            </small>
            <small class="ratingText main-color ion-text-center" *ngIf="service.status_id === 4">
              SERVICIO EN PROCESO
            </small>
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <!-- title -->
  <ion-grid *ngIf="loadedVisits.length > 0">
    <ion-row [hidden]="viewMood !== 'list'">
      <ion-col size="11" class="ion-text-left">
        <ion-text color="danger" class="title"><b>Tienes las siguientes visitas de evaluación agendadas.</b></ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>

  <!-- visitas agendadas -->
  <div class="prof-cont no-border" *ngFor="let service of loadedVisits" (click)="solicitudDetailTecnical(service.id, service.request_technical[0])">
    <ion-grid [hidden]="viewMood !== 'list'">
      <ion-row class="ion-align-items-center">

        <!-- title -->
        <ion-col size="8" class="ion-justify-content-center">
          <ion-text>
            <span class="titleSelect main-color ion-text-capitalize">{{service.clientName+" "+ service.clientLastName}}
            </span>&nbsp;&nbsp;
            <ion-badge color="primary" class="badge-text">{{ service.categoryName }}</ion-badge>
            <br>
            <small>
              <ion-icon src="/assets/icon/ic_date_range.svg" color="primary" class="iconFix"></ion-icon>
              {{ formatDateTecnical(service.request_technical[0]) }}
              <ion-icon src="/assets/icon/ic_schedule.svg" color="primary" class="iconFix"></ion-icon>
              {{ formatTimeTecnical(service.request_technical[0]) }}
            </small>
          </ion-text>
        </ion-col>

        <!-- rating -->
        <ion-col size="4">
          <ion-text>
            <p class="ticket ion-text-center">Solicitud #{{service.ticket_number}}</p>
            <!-- <ion-button expand="block" fill="outline" shape="round" class="miniBtnTxt" (click)="map()">
              <ion-icon slot="start" name="map"></ion-icon>
              VER MAPA
            </ion-button> -->

          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content>