<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/register" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase main-color title-toolbar">Política de privacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-tex>
    <h1>Política de Privacidad</h1>
    <p>
      Para utilizar los servicios de nuestra aplicación WORKIN (la “Aplicación” o el “Servicio”) debes autorizarnos a
      hacer tratamiento de tus datos aceptando expresamente esta Política de Privacidad, que es parte integrante de los
      términos y condiciones de uso de nuestro Servicio.
    </p>
    <p>
      Nuestra Política de Privacidad tiene por objetivo explicarte:
    </p>
    <ul>
      <li>
        Qué información recolectamos de nuestros usuarios y con qué finalidad
      </li>
      <li>
        Cómo utilizamos esa información
      </li>
      <li>
        En qué casos podríamos compartir esa información con terceros o tratarla en servidores ubicados fuera de Chile
      </li>
      <li>
        Cómo puedes contactarnos para ejercer tus derechos sobre tus datos personales
      </li>
    </ul>
    <h4 class="text-left">
      Qué datos recolectamos
    </h4>
    <p>
      Cuando utilizas WORKIN recolectamos los siguientes datos:
    </p>
    <ul>
      <li>
        Tu nombre, domicilio, teléfono de contacto y demás datos personales exigidos en el formulario de registro en
        WORKIN.
      </li>

      <li>
        Información específica entregada por el dispositivo desde el que te conectas a internet, como el tipo de
        dispositivo, tu sistema operativo y navegador web, el número identificador de tu dispositivo de red (dirección
        MAC) o tu dirección IP, entre otras.
      </li>

      <li>
        Las calificaciones y reseñas que hagas de los profesionales que te han prestado un servicio, o las que ellos
        hagan
        de ti como cliente. Estas últimas no serán publicadas para los demás usuarios de WORKIN sino sólo para los
        profesionales.
      </li>
    </ul>
    <h4 class="text-left">
      Para qué utilizamos los datos que recolectamos
    </h4>
    <p>
      Usamos la información que recolectamos con los siguientes objetivos:
    </p>
    <ul>
      <li>
        Ponerte en contacto con los profesionales que prestan sus servicios en WORKIN, publicar las reseñas que quieras
        hacer de los servicias que recibas, gestionar nuestros servicios de garantía y en general, realizar todas las
        acciones necesarias para poder entregarte los servicios de WORKIN.
      </li>

      <li>
        Analizar la forma en que se utiliza nuestra aplicación y levantar información estadística con el único fin de
        optimizar el funcionamiento de nuestra aplicación y mejorar la calidad de nuestros servicios. No entregaremos
        esta
        información con terceros ajenos a WORKIN e INFOCAP.
      </li>

      <li>
        Atender cualquier requerimiento de información que recibamos de un órgano administrativo, judicial o
        investigativo, y en general colaborar en la investigación de posibles actividades ilícitas.
      </li>

      <li>
        Cumplir con obligaciones legales o reglamentarias.
      </li>

      <li>
        Cumplir y aplicar los Términos y Condiciones e investigar las acciones que constituyan una posible infracción de
        éstos.
      </li>

      <li>
        Detectar, impedir o hacer frente de otro modo a cualquier fraude, vulnerabilidad o incidencia de cualquier
        característica que afecte la estabilidad, funcionamiento y seguridad de WORKIN.
      </li>
    </ul>
    <h4 class="text-left">
      Tratamiento de datos realizado por terceros y fuera de Chile
    </h4>
    <p>
      Para procesar la información que recolectamos, podríamos necesitar la ayuda de terceros, personas o empresas,
      tanto dentro como fuera de Chile, quienes desarrollarán esa tarea como mandatarios nuestros, es decir: en nuestro
      nombre, siguiendo nuestras instrucciones, sometiéndose a los términos de esta Política de Privacidad y adoptando
      las medidas de seguridad y confidencialidad adecuadas para el tratamiento de los datos.
    </p>
    <p>
      Asimismo, comunicaremos tus datos personales a terceros si consideramos, de buena fe, que existe una necesidad
      razonable de acceder a ellos o utilizarlos, conservarlos o revelarlos para los siguientes fines:
    </p>
    <ul>
      <li>
        Atender cualquier requerimiento de información que recibamos de un órgano administrativo, judicial o
        investigativo, y en general colaborar en la investigación de posibles actividades ilícitas.
      </li>

      <li>
        Cumplir con obligaciones legales y reglamentarias.
      </li>

      <li>
        Cumplir y aplicar los Términos y Condiciones e investigar las acciones que constituyan una posible infracción de
        éstos.
      </li>

      <li>
        Detectar, impedir o hacer frente de otro modo a cualquier fraude, vulnerabilidad o incidencia de cualquier
        característica que afecte la estabilidad, funcionamiento y seguridad de WORKIN.
      </li>
    </ul>
    <p>
      Es posible que tanto los servidores de WORKIN como de los terceros señalados en esta sección se encuentren
      ubicados fuera de Chile. Ten presente que al utilizar nuestro Servicio aceptas que tus datos personales y la demás
      información recolectada de acuerdo a esta Política de Privacidad sean tratados en servidores o por personas
      ubicadas en el exterior.
    </p>
    <h4 class="text-left">
      Cookies
    </h4>
    <p>
      Para recolectar tus datos personales y utilizarlos para los propósitos descritos en este documento, WORKIN podría
      utilizar cookies o tecnologías similares propias o de terceros. Las cookies son pequeñas cantidades de información
      que un sitio web almacena en el navegador del usuario que lo ha visitado y que pueden, entre otras funciones,
      identificar al usuario y registrar sus preferencias al utilizar el sitio web, optimizar el funcionamiento del
      sitio almacenando configuraciones de servicios, o analizar los hábitos de navegaciones.
    </p>
    <p>
      Algunas cookies expiran cuando cierras tu navegador, mientras que otras permanecen en el dispositivo que has usado
      para navegar en Internet. Puedes eliminar las cookies que hayan quedado almacenadas en tu dispositivo o
      deshabilitar el uso futuro de cookies, tanto las propias del sitio que visitas como las de terceros, siguiendo las
      instrucciones que correspondan a tu navegador. Sin embargo, ten presente que deshabilitar el uso de cookies puede
      empobrecer tu experiencia de navegación, ya que muchos sitios web las requieren para permitirte acceder a ciertas
      funcionalidades.
    </p>
    <h4 class="text-left">
      Los derechos que tienes sobre tus datos
    </h4>
    <p>
      De acuerdo con el artículo 12 de ley N° 19.628 sobre Protección de la Vida Privada, es tu derecho pedirnos
      información sobre los datos tuyos que hayamos recolectado. También puedes solicitarnos que modifiquemos tus datos
      personales si éstos fueran erróneos, inexactos, equívocos o incompletos; o que los eliminemos o bloqueemos si ya
      no deseas seguir siendo usuario de WORKIN.
    </p>
    <p>
      Puedes ejercer estos derechos sin costo alguno para ti, para lo cual debes enviarnos una solicitud al correo
      electrónico info.workin@infocap.cl
    </p>
    <h4 class="text-left">
      Modificaciones a la Política de Privacidad
    </h4>
    <p>
      WORKIN podrá modificar la Política de Privacidad en cualquier momento. Cuando eso ocurra, te lo notificaremos en
      la pantalla de inicio de nuestra Aplicación mediante un aviso, el que deberás aceptar para volver a usar la
      Aplicación
    </p>
    <p>
      Nuestra pantalla de inicio siempre contendrá el enlace a la versión más actualizada de nuestra Política de
      Privacidad. Si quieres consultar las versiones anteriores, podrás hacerlo a través de los enlaces que
      incorporaremos al final de la versión más actualizada de nuestra Política de Privacidad.
    </p>
  </ion-tex>
</ion-content>