.prof-cont {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.titleSelect {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 20px;
}
.mt-25 {
    margin-top: 25px;
}
.icon-size {
    margin-top: -3px;
    font-size: 20px;
}
.miniText {
    color: #39ae50;
}
.red-color {
    color: #eb445a;
}
.textSelect {
    font-size: 10px;
    line-height: 0.5;
}
.ticket {
    color: #eb445a;
    font-size: 14px;
    font-weight: bold;
}
.locate-cont {
    margin-top: 5px;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #009ace;
}
.rating-text {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
}
.ratingText {
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: right;
    font-weight: bold;
}
.red-text{
    color: #eb445a;
}
.gray-text {
    color: #757575;
}
.blue-text {
    color: #009ace;
}
